<div id=":21s" class="a3s aXjCH m1553e5aff0972d66"><u></u>



	
    
    
    
    
	
	
	

	
    
	
    

<div>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff" align="center">
    <tbody><tr>
        <td rowspan="1" colspan="1">
            <table width="520px" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center">
                <tbody><tr>
                    <td valign="top" rowspan="1" colspan="1">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                            <tbody><tr>
                                <td rowspan="1" colspan="1">
                                    <div>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
            <tbody><tr>
                <td valign="top" style="padding-top:0px;font-family:Helvetica neue,Helvetica,Arial,Verdana,sans-serif;color:#205081;font-size:20px;line-height:32px;text-align:left;font-weight:bold" align="left" rowspan="1" colspan="1">
                    <span>Please verify your email address</span>
                </td>
            </tr>
        </tbody></table>
    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#cccccc;padding-top:10px" valign="top" rowspan="1" colspan="1">
                                    <hr color="#cccccc" size="1">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div></div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div>
        </div></td></tr><tr valign="top">
            <td align="left" style="padding-top:0px;padding-bottom:0px" rowspan="1" colspan="1">
                <img style="display:block" src="https://ci6.googleusercontent.com/proxy/tISmnvomz155Q_B5wnZiLIMCQKT-f1475NSMOG0vltuRzpPLpp5s90IR7AeGYasGh54yWfpePJVdD9e7NB6ebAbiWN_RNuXCZlf5wA7oIoDVpxzjZSNBXy-uxOFEch7eNT4kszAl15i_uto9Zk_IFWa5xPUgtGw=s0-d-e1-ft#http://image.mailer.atlassian.com/lib/fec2157377620c74/m/4/aid_account_verification_migration.png" alt="Download images and then verify your email address!" width="360" height="180" border="0" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 312px; top: 202px;"><div id=":23u" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>
            </td>
        </tr>
    
                                
                            
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
            <tbody><tr valign="top">
                <td valign="top" style="padding-top:20px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;color:#333333;font-size:14px;line-height:24px;text-align:left;font-weight:none" align="left" rowspan="1" colspan="1">
                    <span>Hi</span><span> #FULLNAME#</span>,
                </td>
            </tr>
        </tbody></table>
    </div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div>
        </div></td></tr><tr>
            <td valign="top" style="padding-top:10px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;color:#333333;font-size:14px;line-height:20px;text-align:left;font-weight:none" align="left" rowspan="1" colspan="1">Please verify your email address so we know that it's really you!</td>
        </tr>
    
                                
                            
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div>
        </div></td></tr><tr>
            <td align="left" style="padding-bottom:20px;padding-top:20px" rowspan="1" colspan="1">
                <a style="font-size:16px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;font-weight:none;color:#ffffff;text-decoration:none;background-color:#3572b0;border-top:11px solid #3572b0;border-bottom:11px solid #3572b0;border-left:20px solid #3572b0;border-right:20px solid #3572b0;border-radius:5px;display:inline-block" shape="rect" href="#" target="_blank" >
                    Verify my email address
                </a>
            </td>
        </tr>
    
                                
                            
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
            <tbody><tr valign="top">
                <td valign="top" style="padding-top:10px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;color:#333333;font-size:14px;line-height:24px;text-align:left;font-weight:none" align="left" rowspan="1" colspan="1">
                    <span>Cheers,</span><br clear="none">
                    <span>cmfionline Team</span>
                </td>
            </tr>
        </tbody></table>
    </div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div></div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div></div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div></div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left" rowspan="1" colspan="1">
                                    <div></div>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1">
                        <table width="520px" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center">
                            <tbody><tr>
                                <td style="color:#cccccc" valign="top" width="100%" rowspan="1" colspan="1">
                                    <hr color="#cccccc" size="1">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="1">
                                    <div>
    <table width="520px" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center">
        <tbody><tr>
            <td valign="top" style="padding-top:10px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;color:#707070;font-size:12px;line-height:18px;text-align:left;font-weight:none" align="left" rowspan="1" colspan="1">
                <br clear="none"><span>This message was sent to you by cmfionline wcdb</span><br clear="none">
            </td>
            <td align="right" style="padding-top:15px;padding-bottom:30px" rowspan="1" colspan="1">
                <a href="https://www.cmfionline.org" shape="rect" target="_blank" ><img src="" height="24" width="110" border="0" alt="wcdb" style="display:block;color:#3572b0" class="CToWUd"></a>
            </td>
        </tr>
    </tbody></table>
</div>
                                    <u></u><u></u>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

<img src="#" alt="" width="1" height="1" border="0" style="min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important" class="CToWUd"><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">


</div></div>