<style>
    table.tj tr td { font-size: 11px; }
</style>         
<div class="x_panel">
 
        <div class="x_content">
      
              <div class="col-md-12 col-sm-12 col-xs-12">
                     
                  <!-- start member registration table -->
                  <table id="eventsRegTable" class="table tj table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th></th>  
                      <th>Name</th>
                      <th>Nation</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Sex</th>
                      <th>City</th>
                      <th>Date Registe</th>
                      <th>Arrive Date</th>
                      <th>Depart Date</th>
                      <th>trans Mode</th>
                      <th>entry Port</th>
                      <th>pickUp</th>
                      <th>diet Spec</th>
                      <th>med Form</th>
                    </tr>
                  </thead>
                </table>
                  <!-- end member registration table -->
            </div>
        </div>
</div>
          
<script>
function getid(){
    var str=window.location.href;
    var idArr= str.split("/");
    var l=idArr.length;
    return idArr[l-1];
  }
var id=getid();

$(document).ready(function() {
    //provinces table
    var nation = 'GLB';
    $('#eventsRegTable').DataTable({
    responsive: true,
    "ajax": {
    "url": api_base_url+"/cmfi_event_registration?join=cmfi_members,cmfi_countries&filter=eventId,eq,"+id,
    "dataSrc": "records"
    },
    "columns": [
        { "data": "id" },
        { "data": "memberId" ,"width":100},
        { "data": "memberId" },
        { "data": "memberId", "width":15 },
        { "data": "memberId" },
        { "data": "memberId" ,"width":5},
        { "data": "memberId" },
        { "data": "dateRegistered" ,"width":20},
        { "data": "arrivalDate" ,"width":15},
        { "data": "departureDate" ,"width":15},
        { "data": "transportMode" ,"width":15},
        { "data": "entryPort","width":10 },
        { "data": "pickUpEntry","width":10 },
        //{ "data": "dietRestrictions" },
        { "data": "dietRestSpec" },
        { "data": "medicalForm" },
       

    ],
    columnDefs: [{
        targets: 1,
        render: function(data, type, full, meta){
            if(type === 'filter' || type === 'display' || type === "sort" ){
            data = data.firstName+' '+data.lastName;                     
            }
            
            return data;
        }
    },{
        targets: 2,
        render: function(data, type, full, meta){
            if(type === 'filter' ||type === 'display'||type === "sort"){
            data = data.country.name;                     
            }
            
            return data;
        }
    },{
        targets: 3,
        render: function(data, type, full, meta){
            if(type === 'filter' ||type === 'display'){
            data = data.email;                     
            }
            
            return data;
        }
    },{
        targets: 4,
        render: function(data, type, full, meta){
            if(type === 'filter' ||type === 'display'){
            data = data.phone;                     
            }
            
            return data;
        }
    },{
        targets: 5,
        render: function(data, type, full, meta){
            if(type === 'filter' ||type === 'display'){
            data = data.sex;                     
            }
            
            return data;
        }
    },{
        targets: 6,
        render: function(data, type, full, meta){
            if(type === 'filter' ||type === 'display'||type === "sort"){
            data = data.city;                     
            }
            
            return data;
        }
    },
    {
        targets: 7,
        render: function(data, type, full, meta){
            if(type === 'display' ||type === "sort"){
            data = data.substring(0, 10);                     
            }
            
            return data;
        }
    },
    {
        targets: 0,
        render: function(data, type, row, meta){
            return meta.row + meta.settings._iDisplayStart + 1;
        
        }
    }
    ],
    dom: "Bfrtip",
    order: [[7, 'desc']],
    buttons: [{
        extend: "copy",
        className: "btn-sm"
    }, {
        extend: "csv",
        className: "btn-sm"
    }, {
        extend: "excel",
        className: "btn-sm"
    }, {
        extend: "pdf",
        className: "btn-sm",
        orientation: 'landscape',
        pageSize: 'A4'
    }, {
        extend: "print",
        className: "btn-sm",
        orientation: 'landscape',
        pageSize: 'A4'
    }
    ]
    });

    
});

</script>