<style type="text/css">
    #eventsRegTable tr .links {
      display:none;
  }
  
  #eventsRegTable tr:hover .links {
      display:block;   
  }
  </style>
  <script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>
          
            
  <div class="x_panel">
    <div class="x_title">
        <h2>Attendance Form <small>check-in delegates</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    <div class="x_content">
  
          <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="background-color: #d3d3d3">
                <form id="eventRegForm">
                  <input id="eventId" name="eventId" value="" type="hidden" />
                </form>
            
               <div class="form-group col-xs-8">
                  <label class="control-label col-md-2 col-sm-2 col-xs-12">Select Member(s)</label>
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <select id="membersDropDown" class="select2_multiple form-control leaders" multiple="multiple" style="width:100%;">
                      <option value="select2"></option>
                    </select>
                    </div>
                    <button id="btnRegister" onclick="eventRegister()" class="btn btn-sm btn-success"><i class="icon-user-following"></i> Check-in</button>
                </div>
                <div class="form-group col-xs-4 ">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Barcode Input</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="barcodeEntry" id="barcodeEntry" >
                    </div>

               </div>  
               </div>
              <!-- start member registration table -->
              <table id="eventsRegTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Nation</th>
                  <th>City</th>
                  <th>Date Registered</th>
                  <th>Code</th>
                </tr>
              </thead>
            </table>
              <!-- end member registration table -->
    </div>
      
          
         
  
  

  <script>
  $(function() {
  initialiseCountryCombo();
  $("#localitiez").select2({ //create locality leaders drop down
    maximumSelectionLength: 1,
    placeholder: "Max 1",
    allowClear: true
  });
  
  });
  
  </script>
  <!--/New Member -->
  
  <!-- tags -->
  <script src="js/tags/jquery.tagsinput.min.js"></script>
  <!-- input tags -->
  
  
  <!-- daterangepicker -->
  <script type="text/javascript" src="js/moment/moment.min.js"></script>
  <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>
  
  </script>
  <!-- select2 -->
  <script>
  function getid(){
      var str=window.location.href;
      var idArr= str.split("/");
      var l=idArr.length;
      return idArr[l-1];
    }
  var id=getid();
  
  $(document).ready(function() {
  eventRegForm.eventId.value=id;
  //$(".select2_group").select2({});
  $("#membersDropDown").select2({ //create house church leaders drop down
  maximumSelectionLength: 400,
  placeholder: "Select Delegates",
  allowClear: true
  });
  
  var n='GLB';
  //initialise combo for localities
  //initialiseLoclaitiesCombo(n)
  });
  

  $(document).ready(function() {
      //provinces table
      var nation = 'GLB';
      $('#eventsRegTable').DataTable({
      "ajax": {
      "url": api_base_url+"/cmfi_event_registration?join=cmfi_members,cmfi_countries&filter=eventId,eq,"+id,
      "dataSrc": "records"
      },
      "columns": [
          { "data": "memberId" },
          { "data": "memberId" },
          { "data": "memberId","width":20 },
          { "data": "dateRegistered","width":30 },
          { "data": "id" , "width":40}
      ],
      columnDefs: [{
                     targets: 4,
                     render: function(data, type, full, meta){
                        if(type === 'display'){
                           data = data + `<div class="links button-group">
                               <!--a onclick="showMemberCard(${data})" class="btn btn-xs btn-primary"><i class="fa fa-info-circle"></i> </a--> 
                               <a onclick="eventDeregister(${data})" class="btn btn-danger btn-xs "><i class="fa fa-trash"></i> </a>
                               </div>`;                     
                        }
                         
                        return data;
                     }
                  },
        {
          targets: 3,
          render: function(data, type, full, meta){
              if(type === 'display'){
              data = data.substring(0, 10);                     
              }
              
              return data;
          }
          
      },
      {
          targets: 0,
          render: function(data, type, full, meta){
              if(type === 'filter' ||type === 'display'){
              data = `<a onclick="showMemberCard(${data.id})">${data.firstName}&nbsp;${data.lastName}</a>`;                     
              }
              
              return data;
          }
          
      },
      {
          targets: 1,
          render: function(data, type, full, meta){
              if(type === 'filter' ||type === 'display'){
              data = data.country.name;                     
              }
              
              return data;
          }
          
      },{
          targets: 2,
          render: function(data, type, full, meta){
              if(type === 'filter' ||type === 'display'){
              data = data.city;                     
              }
              
              return data;
          }
          
      }
        ],
      dom: "Bfrtip",
      buttons: [{
          extend: "copy",
          className: "btn-sm"
      }, {
          extend: "csv",
          className: "btn-sm"
      }, {
          extend: "excel",
          className: "btn-sm"
      }, {
          extend: "pdf",
          className: "btn-sm"
      }, {
          extend: "print",
          className: "btn-sm"
      }
      ]
      });
  
  
  });
  
 
  
  //populate leaders drop down
  var opt3 = $(".leaders");
  $.getJSON(api_base_url+"/cmfi_members?order=firstName,asc", function(response) {
   $.each(response.records, function() {
   opt3.append($("<option />").val(this.id).text(this.firstName+' '+this.lastName));
  });
  });
  
  
  
  
  

  </script>
  
  
  