       

      <!-- start of user-activity-graph -->
      <!--div id="graph_bar" style="width:100%; height:280px;"></div-->
      <!-- end of user-activity-graph -->

              <div class="row">
                <div class="col-md-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="eventTitle"></h2>
                      
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <ul class="stats-overview">
                          <li>
                              <div class="animated flipInY tile_stats_count">
                                  <div class="right">
                                    <span class="count_top"><i class="icon-users"></i> Registered Delegates</span>
                                    <div class="count green" id="registrations">4,567</div>
                                  </div>
                                  <!--span class="count_bottom"><i class="green"><i class="fa fa-plane"></i> </i>122 </span>
                                  <span class="count_bottom"><i class="purple"><i class="fa fa-road"></i>  </i>300 </span>
                                  <span class="count_bottom"><i class="black"><i class="fa fa-life-ring"></i> </i>20 </span-->
                                </div>
                          </li>
                          <li>
                              <div class="animated flipInY tile_stats_count">
                                  <div class="right">
                                    <span class="count_top"><i class="icon-globe"></i> Nations</span>
                                    <div class="count" id="nations">200</div>
                                  </div>
                                </div>
                          </li>
                          <li class="hidden-phone">
                              <div class="animated flipInY tile_stats_count">
                                  <div class="right">
                                    <span class="count_top"><i class="icon-map"></i> Localities</span>
                                    <div class="count" id="localities">20</div>
                                  </div>
                                </div>
                          </li>
                        </ul>
                        <!--br />
                        <div id="mainb" style="height:350px;"></div>
                        <br>
                        <div class="clearfix"></div-->
                        <div class="row">
                          
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                              <div class="x_title">
                                <h2>Delegate Registrations <small>by nation</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">Attendance Report</a>
                                      </li>
                                      <li><a href="#">Nations Report</a>
                                      </li>
                                    </ul>
                                  </li>
                                  <!--li><a class="close-link"><i class="fa fa-close"></i></a>
                                  </li-->
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                              <div class="x_content">
                                <canvas id="mycanvas"></canvas>
                              </div>
                            </div>
                          </div>

                           <!--div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">
                                <h2>Gender</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">Settings 1</a>
                                      </li>
                                      <li><a href="#">Settings 2</a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                                  </li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                              <div class="x_content">
                                <table class="" style="width:100%">
                                  <tr>
                                    <th style="width:37%;">
                                      <p>gender analysis</p>
                                    </th>
                                    <th>
                                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <p class="">Gender</p>
                                      </div>
                                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <p class="">%</p>
                                      </div>
                                    </th>
                                  </tr>
                                  <tr>
                                    <td>
                                      <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                    </td>
                                    <td>
                                      <table class="tile_info">
                                        <tr>
                                          <td>
                                            <p><i class="fa fa-square green"></i>Male </p>
                                          </td>
                                          <td>40%</td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <p><i class="fa fa-square aero"></i>Female </p>
                                          </td>
                                          <td>60%</td>
                                        </tr>
                                       
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div-->
                        </div>


                      </div>

                      <!-- start project-detail sidebar -->
                      <div class="col-md-3 col-sm-3 col-xs-12">

                        <section class="panel">

                          <div class="x_title">
                            <h2>Event Description</h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="panel-body">
                            <div class="green"><h3><i class="fa fa-flag"></i> <span class="eventTitle"> World Conquest Event</span></h3></div>

                            <p class="eventDescription">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                            <br />

                            <div class="project_detail">

                              <p class="title">Event Country</p>
                              <p class="eventCountry">Deveint Inc</p>
                              <p class="title">Event Coordinator</p>
                              <p class="eventLeader">Tony Chicken</p>
                            </div>

                            <br />
                            <h5>Event files</h5>
                            <ul class="list-unstyled project_files">
                              <li><a href=""><i class="fa fa-file-word-o"></i> Prayer_topics.docx</a>
                              </li>
                              <!--li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                              </li>
                              <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                              </li>
                              <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                              </li>
                              <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                              </li-->
                            </ul>
                            <br />

                            <div class="text-center mtop20">
                              <a href="#" class="btn btn-sm btn-primary">Add files</a>
                            </div>
                          </div>

                        </section>

                      </div>
                      <!-- end project-detail sidebar -->

                    </div>
                  </div>
           

         


  
   
<script>
$(function() {
    show('event_menu');


});

</script>
<!--/New Member -->

<!-- tags -->
<script src="js/tags/jquery.tagsinput.min.js"></script>
<!-- input tags -->

<script>
function getid(){
    var str=window.location.href;
    var idArr= str.split("/");
    var l=idArr.length;
    return idArr[l-1];
  }
var id=getid();



$.getJSON("api/funcs.php?fn=fetchEvent&id="+id, function(response) {
$( '.eventTitle' ).html(response.title);
$('#registrations').html(response.registrations);
$('#localities').html(response.localities);
$('#nations').html(response.nations);
$('#startDate').html(response.start);
$('#endDate').html(response.end);
$('.eventDescription').html(response.eventDesc);
$('.eventCountry').html(response.nation);
$('#countryx').val(response.nation);
$('.eventLeader').html(response.eventLeader);
//$('#mainb').html('<img src="images/events/churchEvent.jpg" width="670px" height="350px" />');

//alert(response.name);
});



$(document).ready(function(){
$.ajax({
url: "api/funcs.php?fn=fetchEventRegNatBar&id="+id,
method: "GET",
success: function(data) {
//console.log(data);
var country = [];
var male = [];
var female = [];
var jsonArr = jQuery.parseJSON(data);

for(var i in jsonArr) {
country.push(jsonArr[i].country);
male.push(jsonArr[i].male);
female.push(jsonArr[i].female);
}
//console.log(country);

var chartdata = {
labels: country,
datasets : [
{
label: 'Male Delegates Registered',
backgroundColor: 'rgba(200, 200, 200, 0.75)',
borderColor: 'rgba(200, 200, 200, 0.75)',
hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
hoverBorderColor: 'rgba(200, 200, 200, 1)',
data: male
},
{
label: 'Female Delegates Registered',
backgroundColor: 'rgba(200, 200, 200, 0.75)',
borderColor: 'rgba(200, 200, 200, 0.75)',
hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
hoverBorderColor: 'rgba(200, 200, 200, 1)',
data: female
}
]
};
Chart.defaults.global.legend = {
enabled: false
};
// Bar chart
var ctx = document.getElementById("mycanvas");
var mycanvas = new Chart(ctx, {
type: 'bar',
data: {
labels: country,
datasets: [{
label: 'male delegates registered',
backgroundColor: "#26B99A",
data: male
},
{
label: 'female delegates registered',
backgroundColor: "#03586A",
data: female
}
]
},

options: {
scales: {
yAxes: [{
ticks: {
beginAtZero: true
}
}]
}
}
});
},
error: function(data) {
console.log(data);
}
});
});




function PrintElem(elem) {
Popup($(elem).html());
}

function nWin() {
var html = $(".id-card-holder").html();
var frame1 = $('<iframe />');
frame1[0].name = "frame1";
frame1.css({ "position": "absolute", "top": "-1000000px" });
$("body").append(frame1);
var w = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
w.document.open();
w.document.write('<html><head><title>'+$("#memberName").val()+'</title>');
w.document.write('<link rel="stylesheet" href="../app/css/custom.php" type="text/css" media="all"/>');
w.document.write('<link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>');
w.document.write('</head><body >');
w.document.write(html);
w.document.write('</body></html>');
w.document.close();
w.focus();
setTimeout(function () {
window.frames["frame1"].focus();
window.frames["frame1"].print();
frame1.remove();
}, 500);
//w.close(); 
return true;
}

$(function() {
$("a#print").click(nWin);

});
</script>
