<div class="row pl-4 pr-4" style="background-color:white;">
    <div class="col-md-2">
          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="background-color: teal;">
                <div id="event_menu" class="menu_section" style="display: block;">
                        <br>
                        <h3>Event Menu</h3>
                        <ul class="nav side-menu">
                          <li><a onclick="showPage('event_dashboard')"><i class="fa fa-desktop"></i> Dashboard </a></li>
                          <li><a><i class="fa fa-users"></i> Registration <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none">
                              <li><a onclick="showPage('registration')">Register Delegates</a>
                              </li>
                              <li><a onclick="showPage('view_registrations')" >View registrations</a>
                              </li>
                              <li><a onclick="showPage('id_cards')">Print ID cards</a>
                              </li>
                              
                            </ul>
                          </li>
                          <li><a><i class="fa fa-building-o"></i> Attendance <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none">
                              <li><a onclick="showPage('attendanceDash')">Dashboard</a>
                              </li>
                              <li><a onclick="showPage('check-in')">Check-in</a>
                              </li>
                            </ul>
                          </li>
                          <!--<li><a><i class="fa fa-sitemap"></i> Event Files <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none">
                                <li><a href="#level1_1">Level One</a>
                                <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                                  <ul class="nav child_menu" style="display: none">
                                    <li class="sub_menu"><a href="level2.html">Level Two</a>
                                    </li>
                                    <li><a href="#level2_1">Level Two</a>
                                    </li>
                                    <li><a href="#level2_2">Level Two</a>
                                    </li>
                                  </ul>
                                </li>
                                <li><a href="#level1_2">Level One</a>
                                </li>
                            </ul>
                          </li-->
                          
                          <li><a onclick="showPage('settings')"><i class="fa fa-cog"></i> Settings </a></li>
                        </ul>
                </div>

                <div class="menu_section">
                    <br>
                  <h3>Main Admin Menu</h3>
                  <ul class="nav side-menu">
                    <!--li><a><i class="fa fa-desktop"></i> Dashboard </a>
                    </li-->
                    <li><a onclick="routie('/admin/main')"><i class="fa fa-calendar"></i> Events </a> 
                    </li>
                    <!--li><a><i class="fa  fa-map-marker"></i> Venues </a>
                    </li-->
                    <li><a onclick="showPage('users')"><i class="fa fa-users"></i> Users </a>
                      
                    </li>
                
                  </ul>
                </div>
                
                 
    
              </div>
              <!-- /sidebar menu -->
    
    </div>    
    
    <div class="col-md-10" id="admin_content">

    </div>
</div>


<script src="js/custom-sm.js"></script>
<script>
$(document).ready(function(){
    showHide('event_menu');
})
</script>