
<div class="row"></div>
    <div class="pl-4 pr-4">
      <div class="row">
 		     <div class="page-title mid_center" >
            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group mid_center top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search events...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
              </div>
            </div>
          </div>
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2><a onclick="routie('/');"><i class="fa fa-chevron-circle-left" style="font-size:32px;"></i></a>&nbsp;Top Upcoming Events <small> only featured events </small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="row" id="eventsDiv">
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

           <script type="text/javascript">
              
                $.getJSON(api_base_url+'/cmfi_events?filter1=nation,eq,GLB&order=eventId,desc&size=6',
                 function(data) {
                  //console.log(data.records);
                  var events=data.records;
                  $('#eventsDiv').html(`
                      ${events.map(function(event){
                        return `
                        <div class="col-sm-3">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="height: 100%; display: block;" src="images/events/${getImage(event.image)}" alt="image" />
                            <div class="mask" onclick="routie('/event/${event.eventId}');">
                              <span><p><i class="icon-info"></i>  ${event.eventDesc}</p></span>
                              <br>
                              <span><p><i class="icon-pin"></i>  ${event.eventVenue}</p></span>
                              <div class="tools tools-bottom">
                                <a onclick="routie('/event/${event.eventId}');"><i class="fa fa-link"></i></a>
                                <a onclick="routie('/register');"><i class="fa fa-pencil"></i></a>
                              </div>
                            </div>
                          </div>
                          <article class="media event caption">
                          <a class="pull-left date">
                            <p class="month">${monthName((new Date(event.startDate).getMonth()))}</p>
                            <p class="day">${(new Date(event.startDate)).getDate()}</p>
                          </a>
                          <div class="media-body">
                            <a class="custom-font-element custom-font-4  vc_custom_1431297137931" onclick="routie('/event/${event.eventId}');" style="font-size:14px; text-transform:uppercase; letter-spacing:1px; color:#333333; ">${event.eventTitle}</a>
                            <!--p>${event.eventDesc}</p-->
                          </div>
                        </article>
                        </div>
                      </div>
                        `;
                      })
                      .join('')
                  }`);
                  

                }); //getEvents
              
              
          </script>







