<script id="aboutEvents"  type="text/template">
	{{#records}}
	<div class="pl-4 pr-4" style="min-height: 590px;">
           <div class="x_panel">
           	    <div class="x_title">
                  <h2><a onclick="routie('/events');"><i class="fa fa-chevron-circle-left"></i></a>&nbsp;{{eventTitle}} <small> {{startDate}} </small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-share"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link" onclick="routie('/events');"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              	<div class="x_content">
	
        <div class="col-md-4 col-sm-4 col-xs-12">
           <div class="product-image">
              <img src="images/events/{{image}}" alt="..." />
            </div>
         
          </div>

        <div class="col-md-8 col-sm-8 col-xs-12" style="border:0px solid #e5e5e5;">
            <h2 class="prod_title"> <strong> Profile </strong></h2>

            <p>{{eventDesc}}</p>
            <div class="clearfix"></div>
            <table class="table table-bordered">
                            
                    <tbody>
                      <tr>
                        <th scope="row"> Event starts on</th>
                        <td>{{startDate}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Event ends on</th>
                        <td>{{endDate}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Location</th>
                        <td>{{eventVenue}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Registration Fee</th>
                        <td>{{regFee}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Delegate Criteria</th>
                        <td>{{criteria}}</td>
                      </tr>
                    </tbody>
                  </table>
			
			<div class="x_footer">
				<div class="button_group">
					<div class="btn-group">
					<button onclick="routie('/register/{{eventId}}');" class="btn btn-sm btn-success">Register</button>
				    <button class="btn btn-sm btn-primary">Check-in</button>

					<button class="btn btn-sm btn-primary">Invite a friend</button>
					
					</div>
                  	<div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Save to</button>
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      	<li><a ><i class="fa fa-google-plus"></i>  Google Calendar</a>
	                    </li>
	                    <li><a ><i class="fa fa-yahoo"></i>  Yahoo Calendar</a>
	                    </li>
	                    <li class="divider"></li>
	                    <li><a ><i class="fa fa-download"></i>  Save to local</a>
	                    </li>
                    </ul>
                  </div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
{{/records}}
</script>

		
              		
          	
		<div id="aboutEvent"></div>

        <script type="text/javascript">
        	$(function(){
        		 function getid(){
			            var str=window.location.href;
			            var idArr= str.split("/");
			            var l=idArr.length;
			            return idArr[l-1];
			          }


        		console.log(getid());
                $.getJSON(api_base_url+'/cmfi_events?filter=eventId,eq,'+getid(),
                 function(data) {
                  var template = $('#aboutEvents').html();
                  var html = Mustache.to_html(template, data);
                  $('#aboutEvent').html(html);

                }); //getEvents
              });
          </script>

