<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,900,600,500,800,700,300);

.custom-font .custom-font-element {
    display: inline-block;
}
.custom-font-4 {
    font-family: Raleway;
    font-weight: 800;
    font-style: normal;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.custom-font-9 {
    font-family: "Crimson Text";
    font-weight: 400;
    font-style: italic;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.vc_custom_1431297137931 {
    margin-bottom: 5px !important;
}
.vc_custom_1431297226472 {
    margin-bottom: 20px !important;
}
.za-btn:last-child {
    margin-right: 0;
}
.za-btn .button-text {
    position: relative;
}
/* buttons */
.circularbtn {
	font-size: 12px; padding: 12px 35px; border: 2px solid rgb(168, 168, 168); border-radius: 35px; color: rgb(128, 128, 128); background-color: rgba(255, 255, 255, 0.01);" onmouseover=" this.style.color='#23a8da'; this.style.backgroundColor='#ffffff'; this.style.borderColor='#ffffff';" onmouseout=" this.style.borderColor='#808080'; this.style.color='#C0C0C0'; this.style.backgroundColor='rgba(251,251,251,0.01)';

}
.za-btn {
    position: relative;
    display: inline-block;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 12px;
    margin: 4px;
    transition: all 0.3s ease-in-out!important;
    -moz-transition: all 0.3s ease-in-out!important;
    -webkit-transition: all 0.3s ease-in-out!important;
    -o-transition: all 0.3s ease-in-out!important;
}
a, a:hover, a:active, a:focus, button, button:hover, button:active, button:focus {
    outline: 0;
    text-decoration: none;
}
h2 {
    font-family: Raleway;
    line-height: 32px;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    color: #333333;
    font-size: 22px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
</style>
<script id="aboutEvents"  type="text/template">
	{{#records}}
	<div class="x_panel pl-4 pr-4" style="min-height: 590px;">
           <div style="background-color:#f5f5f5" class="fullwidth section">
           	    <div class="x_title">
                  <h2><a onclick="routie('/events');"><i class="fa fa-chevron-circle-left" style="font-size:32px;"></i></a>&nbsp; <small> </small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-share"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link" onclick="routie('/events');"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
      <div class="x_content">
	
        <div class="col-md-4 col-sm-4 col-xs-12">
           <div class="product-image">
              <img src="images/events/{{image}}" alt="..." />
            </div>
         
          </div>

        <div class="col-md-8 col-sm-8 col-xs-12" style="border:0px solid #e5e5e5;">
          <div class="custom-font" style="text-align:left">
            <h2 class="custom-font-element custom-font-4  vc_custom_1431297137931" style="font-size:24px; line-height:28px; text-transform:uppercase; letter-spacing:1px; color:#333333; ">{{eventTitle}}</h2>
          </div>
          <div class="custom-font " style="text-align:left">
            <h5 class="custom-font-element custom-font-9  vc_custom_1431297226472" style="font-size:15px; line-height:24px; letter-spacing:0px; color:#b4b4b4; ">Starts on {{startDate}} </h5>
          </div>
          <div class="custom-font " style="text-align:left">
            <p class="custom-font-element  " style="font-size:12px; line-height:22px; letter-spacing:0px; color:#555555; ">
              {{eventDesc}}
           

            <div class="clearfix"></div>
            <table class="table table-bordered">
                            
                <tbody>
                  <tr>
                    <th scope="row">Event starts on</th>
                    <td><i class="fa fa-calendar"></i> {{startDate}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Event ends on</th>
                    <td><i class="fa fa-calendar"></i> {{endDate}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Location</th>
                    <td><i class="fa fa-map-marker"></i> {{eventVenue}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Registration Fee</th>
                    <td><i class="fa fa-money"></i> {{regFee}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Delegate Criteria</th>
                    <td><i class="fa fa-toggle-on"></i> {{criteria}}</td>
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
			<div class="x_footer">
				<div class="button_group">
            <div>
                <p><a onclick="routie('/register/{{eventId}}');" class="za-btn circularbtn" href="#" target="_self"><span class="button-text">Register</span></a></p>
              </div>
					<!--div class="btn-group">
					<button onclick="routie('/register/{{eventId}}');" class="btn btn-sm btn-success">Register</button>
				    <button class="btn btn-sm btn-primary">Check-in</button>

					<button class="btn btn-sm btn-primary">Invite a friend</button>
					
					</div>
                  	<div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Save to</button>
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      	<li><a ><i class="fa fa-google-plus"></i>  Google Calendar</a>
	                    </li>
	                    <li><a ><i class="fa fa-yahoo"></i>  Yahoo Calendar</a>
	                    </li>
	                    <li class="divider"></li>
	                    <li><a ><i class="fa fa-download"></i>  Save to local</a>
	                    </li>
                    </ul>
                  </div>
				</div-->
			</div>
			</div>
		</div>
	</div>
</div>
{{/records}}
</script>

		
              		
          	
		<div id="aboutEvent"></div>

        <script type="text/javascript">
        	$(function(){
        		 function getid(){
			            var str=window.location.href;
			            var idArr= str.split("/");
			            var l=idArr.length;
			            return idArr[l-1];
			          }


        		console.log(getid());
                $.getJSON(api_base_url+'/cmfi_events?filter=eventId,eq,'+getid(),
                 function(data) {
                  var template = $('#aboutEvents').html();
                  var html = Mustache.to_html(template, data);
                  $('#aboutEvent').html(html);

                }); //getEvents
              });
          </script>

