<style type="text/css">
 	.square_btn16 {
    display: inline-block;
    padding: 0.3em 1em;
    border: solid 2px #67c5ff;
    transition: .4s;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 15px;
    height:30px;
    text-align: center;
    margin-top: 10px;
    color: white;
}
 </style>
<div class="pl-4 pr-4">
 <div class="row">
 		<div class="page-title mid_center" >
           

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group mid_center top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search events...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
              </div>
            </div>
          </div>


            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Top Upcoming Events <small> only featured events </small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <div class="row">

                    <!--p>click on an event for more details</p-->

                    <div class="col-md-4">
                      <div class="thumbnail">
                        <div class="image view view-first">
                          <img style="width: 100%; display: block;" src="images/WUPF-logo.png" alt="image" />
                          <div class="mask">
                            <p>Your Text</p>
                            <div class="tools tools-bottom">
                              <a href="#" ><i class="fa fa-link"></i></a>
                              <a href="#" onclick="routie('/register');"><i class="fa fa-pencil"></i></a>
                            </div>
                          </div>
                        </div>
                        <article class="media event caption">
		                    <a class="pull-left date">
		                      <p class="month">April</p>
		                      <p class="day">23</p>
		                    </a>
		                    <div class="media-body">
		                      <a class="title" href="#">Item One Title</a>
		                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		                    </div>
		                  </article>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <div class="image view view-first">
                          <img style="width: 100%; display: block;" src="images/banner_w890.png" alt="image" />
                          <div class="mask">
                            <p>The world convention of Christian Missionary Fellowship International is scheduled from 8th - 22nd December 2019 with the twin objectives of
Presenting the accomplished goal of Phase 2 to our Lord Jesus Christ with praise, testimony and celebration: 8th - 17th December 2019
Planning and launching Phase 3 with core leaders and missionaries: 18th - 22nd December 2019</p>
                            <div class="tools tools-bottom">
                              <a href="#" ><i class="fa fa-link"></i></a>
                              <a href="#" onclick="routie('/register');"><i class="fa fa-pencil"></i></a>
                            </div>
                          </div>
                        </div>
                        <article class="media event caption">
		                    <a class="pull-left date">
		                      <p class="month">April</p>
		                      <p class="day">23</p>
		                    </a>
		                    <div class="media-body">
		                      <a class="title" href="#">Item One Title</a>
		                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		                    </div>
		                  </article>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <div class="image view view-first">
                          <img style="width: 100%; display: block;" src="images/ztfma.jpg" alt="image" />
                          <div class="mask">
                            <p>Your Text</p>
                            <div class="tools tools-bottom">
                              <a href="#" ><i class="fa fa-link"></i></a>
                              <a href="#" onclick="routie('/register');"><i class="fa fa-pencil"></i></a>
                            </div>
                          </div>
                        </div>
                        <article class="media event caption">
		                    <a class="pull-left date">
		                      <p class="month">April</p>
		                      <p class="day">23</p>
		                    </a>
		                    <div class="media-body">
		                      <a class="title" href="#">Item One Title</a>
		                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		                    </div>
		                  </article>
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <div class="image view view-first">
                          <img style="width: 100%; display: block;" src="images/default-event.png" alt="image" />
                          <div class="mask no-caption">
                            <div class="tools tools-bottom">
                              <a href="#"><i class="fa fa-link"></i></a>
                              <a href="#"><i class="fa fa-pencil"></i></a>
                              <a href="#" onclick="routie('/register');"><i class="fa fa-times"></i></a>
                            </div>
                          </div>
                        </div>
                         <article class="media event caption">
		                    <a class="pull-left date">
		                      <p class="month">April</p>
		                      <p class="day">23</p>
		                    </a>
		                    <div class="media-body">
		                      <a class="title" href="#">Item One Title</a>
		                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		                    </div>
		                  </article>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <div class="image view view-first">
                          <img style="width: 100%; display: block;" src="images/default-event.png" alt="image" />
                          <div class="mask no-caption">
                            <div class="tools tools-bottom">
                              <a href="#"><i class="fa fa-link"></i></a>
                              <a href="#" onclick="routie('/register');"><i class="fa fa-pencil"></i></a>
                            </div>
                          </div>
                        </div>
                         <article class="media event caption">
		                    <a class="pull-left date">
		                      <p class="month">April</p>
		                      <p class="day">23</p>
		                    </a>
		                    <div class="media-body">
		                      <a class="title" href="#">Item One Title</a>
		                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		                    </div>
		                  </article>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <div class="image view view-first">
                          <img style="width: 100%; display: block;" src="images/default-event.png" alt="image" />
                          <div class="mask no-caption">
                            <div class="tools tools-bottom">
                              <a href="#"> <i class="fa fa-link"></i></a>
                              <a href="#" onclick="routie('/register');"><i class="fa fa-pencil"></i></a>
                            </div>
                          </div>
                        </div>
                        <article class="media event caption">
		                    <a class="pull-left date">
		                      <p class="month">April</p>
		                      <p class="day">23</p>
		                    </a>
		                    <div class="media-body">
		                      <a class="title" href="#">Item One Title</a>
		                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		                    </div>
		                  </article>
                      </div>
                    </div>

                  </div>

            </div>
        </div>