<style type="text/css">
  body {
      background-color: #d7d6d3;
      font-family:'verdana';
    }
    .id-card-holder {
      //width: 225px;
        padding: 4px;
        margin: 0 auto;
        background-color: #1f1f1f;
        border-radius: 5px;
        position: relative;
    }
    .id-card-holder:after {
        content: '';
        width: 7px;
        display: block;
        background-color: #0a0a0a;
        height: 100px;
        position: absolute;
        top: 105px;
        border-radius: 0 5px 5px 0;
    }
    .id-card-holder:before {
        content: '';
        width: 7px;
        display: block;
        background-color: #0a0a0a;
        height: 100px;
        position: absolute;
        top: 105px;
        left: 222px;
        border-radius: 5px 0 0 5px;
    }
    .id-card {
      
      background-color: #fff;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 1.5px 0px #b9b9b9;
    }
    .id-card img {
      margin: 0 auto;
    }
    .header img {
      width: 120px;
        margin-top: 15px;
    }
    .photo img {
      width: 80px;
        margin-top: 15px;
    }
    h2 {
      font-size: 15px;
      margin: 5px 0;
    }
    h3 {
      font-size: 12px;
      margin: 2.5px 0;
      font-weight: 300;
    }
    .qr-code img {
      width: 100px;
      height: 50px;
    }
    p {
      font-size: 5px;
      margin: 2px;
    }
    .id-card-hook {
      background-color: #000;
        width: 70px;
        margin: 0 auto;
        height: 15px;
        border-radius: 5px 5px 0 0;
    }
    .id-card-hook:after {
      content: '';
        background-color: #d7d6d3;
        width: 47px;
        height: 6px;
        display: block;
        margin: 0px auto;
        position: relative;
        top: 6px;
        border-radius: 4px;
    }
    .id-card-tag-strip {
      width: 45px;
        height: 40px;
        background-color: #0950ef;
        margin: 0 auto;
        border-radius: 5px;
        position: relative;
        top: 9px;
        z-index: 1;
        border: 1px solid #0041ad;
    }
    .id-card-tag-strip:after {
      content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #c1c1c1;
        position: relative;
        top: 10px;
    }
    .id-card-tag {
      width: 0;
      height: 0;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-top: 100px solid #0958db;
      margin: -10px auto -30px auto;
    }
    .id-card-tag:after {
      content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid #d7d6d3;
        margin: -10px auto -30px auto;
        position: relative;
        top: -130px;
        left: -50px;
    }
</style>

<script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>

<div class="row"></div>
    <div class="pl-4 pr-4">
      <div class="row">
 		     
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2><a onclick="routie('/');"><i class="fa fa-chevron-circle-left"></i></a>&nbsp;Top Upcoming Events <small> only featured events </small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="row" id="id_card">

                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

           <script type="text/javascript">

function getid(){
    var str=window.location.href;
    var idArr= str.split("/");
    var l=idArr.length;
    return idArr[l-1];
  }
var id=getid();
      $.getJSON(api_base_url+"/cmfi_events?filter=eventId,eq,"+id,function(data){
                console.log("event",data);
                 var event=data.records[0]; 
                $.getJSON("../app/api/funcs.php?fn=fetchEventRegistrations&id="+id,
                 function(cards) {

                  console.log(cards);
                  $('#id_card').html(`
                      ${cards.map(function(card){
                        return `
                            <!--div class="id-card-holder "-->
                            <div class="col-md-4" style="padding;4 4 4 4;">
                              <div class="id-card" >
                                <div class="header">
                                    <h2 class="eventTitle custom-font-element custom-font-4  vc_custom_1431297137931" style="font-size:12px; line-height:17px; text-transform:uppercase; letter-spacing:0.5px; color:#333333; "></h2>
                                  
                                </div>
                                <div class="photo">
                                    <img src="../app/images/members/${card.image}" alt="Avatar"
                                  onerror="if (this.src != '../app/images/members/user.png') this.src = '../app/images/members/user.png';">
                                </div>
                                <h2>${card.name} </h2>
                                <div class="qr-code">
                                    <img id="barcode_${card.id}" height="50px"/>
                                  </div>
                                <h3>${card.city}, ${card.nation}</h3>
                                <hr>
                                <p>${card.address}<p>
                                <p>${card.email}</p>
                                <p>${card.phone}</p>

                              </div>
                            </div>
                        `;
                      })
                      .join('')
                  }`);

                  $( '.eventTitle' ).html(event.eventTitle);

                }); //getEvents
              
              });

              $.getJSON("../app/api/funcs.php?fn=fetchEventRegistrations&id="+id,
                 function(card) {
                    JsBarcode("#barcode_"+card.id, card.name, {
                      displayValue:false,
                      //fontSize:24,
                      lineColor: "#0cc"
                    });

                });
          </script>







