<section class="cd-section mid_center" >		
	<header style="text-align: center;color: #ffffff">
		<h1>CMFI EVENTS PORTAL</h1>	
	</header>
	
		<p>
			Integrated platform for events management and tracking 
		</p>
	<div class="cd-modal-action">
			<a onclick="routie('/events');" class="btn" >Go to Events</a>
	</div> <!-- cd-modal-action -->
</section>