<div class="cd-section"  >
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div class="col-md-3"></div>
        <div id="wrapper" class="col-md-6">
          <div id="login" class="animate form">
            <section class="login_content">
              <form id="loginForm" method="post" action="">
                <h1>Login</h1>
                <div>
                  <input name="email" type="email" class="item form-control" placeholder="Email" required="" />
                </div>
                <div>
                  <input name="password" type="password" class="item form-control" placeholder="Password" required="" />
                </div>
                <div>
                  <a id="sendLogin" class="btn btn-default submit" onclick="login(loginForm.email.value,loginForm.password.value);" type="submit">Log in</a>
                  <a class="reset_pass" href="#">Lost your password?</a>
                </div>
                <div class="separator">
    
                  <p class="change_link">New to site?
                    <a href="#toregister" class="to_register"> Create Account </a>
                  </p>
                </div>
              </form>
              <!-- form -->
            </section>
            <!-- content -->
          </div>
          <div id="register" class="animate form">
            <section class="login_content">
              <form id="registerForm" method="post" action="">
                <h1>Create Account</h1>
                <div>
                  <input name="username" type="text" class="item form-control" placeholder="Full Name e.g(John Doe)" required="" />
                </div>
                <div>
                  <input name="email" type="email" class="item form-control" placeholder="Email" required="" />
                </div>
                <div>
                  <input name="password" type="password" class="item form-control" placeholder="Password" required="" />
                </div>
                <div>
                  <a class="btn btn-default submit" onclick="register()">Submit</a>
                </div>
                <div class="separator">
    
                  <p class="change_link">Already a member ?
                    <a href="#tologin" class="to_register"> Log in </a>
                  </p>
                
                  <!--div>
    
                    <p>©2019 All Rights Reserved. Data Age Solutions. Privacy and Terms</p>
                  </div-->
                </div>
              </form>
              <!-- form -->
            </section>
           </div>
        </div>
        <div class="col-md-3"></div>
       </div>
    
    
    
    <script>
    
    $(function(){
      //$('#logo').html('<img src="images/CMFI-logo.png" alt="CMFI Logo" width="180">');
      if(sessionStorage.user){
            var data=JSON.parse(sessionStorage.user);
            routie('/');
    
      }
    });
    
        // initialize the validator function
        //validator.message['date'] = 'not a real date';
    
        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form')
          .on('blur', 'input[required], input.optional, select.required', validator.checkField)
          .on('change', 'select.required', validator.checkField)
          .on('keypress', 'input[required][pattern]', validator.keypress);
    
        $('.multi.required')
          .on('keyup blur', 'input', function() {
            validator.checkField.apply($(this).siblings().last()[0]);
          });
    
        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);
    
        /*$('form').submit(function(e) {
          e.preventDefault();
          var submit = true;
          // evaluate the form using generic validaing
          if (!validator.checkAll($(this))) {
            submit = false;
          }
    
          if (submit)
            this.submit();
          return false;
        });*/
    
        /* FOR DEMO ONLY */
        $('#vfields').change(function() {
          $('form').toggleClass('mode2');
        }).prop('checked', false);
    
        $('#alerts').change(function() {
          validator.defaults.alerts = (this.checked) ? false : true;
          if (this.checked)
            $('form .alert').remove();
        }).prop('checked', false);
      </script>
    
    