<style type="text/css">
  #datatable-nations tr .links {
    display:none;
}

#datatable-nations tr:hover .links {
    display:block;   
}
.btnDiv {
  width: 100%;
  left: 0;
  bottom:0;
  position: right;
}
.btnDivv {
  width: 100%;
  left: 0;
  bottom:0;
  position:center;
}

/* member avatar update form   */

  a.boxclose{
    float:right;
    margin-top:-10px;
    margin-right:-10px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 10px;
    background: red;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 6px 3px;       
}


.avatarUploadForm{
  display:none;
  border:2px dashed #d2d2d2;
  background-color:#f7f7f7; 
  padding:2px;
}

.boxclose:before {
    content: "×";
}

  /*Family tree*/
* {margin: 0; padding: 0;}

.tree ul {
  padding-top: 20px; position: relative;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left; text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #ccc;
  width: 50%; height: 20px;
}
.tree li::after{
  right: auto; left: 50%;
  border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}

.tree li a{
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
  background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
  border-color:  #94a0b4;
}


</style>        


        <div class="">
          
          <div class="clearfix"></div>

          <div class="row">


                  <div class="col-md-12 col-sm-12 col-xs-12">
                    
                            <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                              <div class="x_panel">
                                <div class="x_title">
                                  <h2>Manage Families <small>list of families</small></h2>
                                  <ul class="nav navbar-right panel_toolbox">
                                      <li>
                                        <a id="eventBtn" href="#" role="buton" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".newFamilyModal" aria-expanded="false"><i class="glyphicon glyphicon-plus-sign"></i> New family</a>
                                        
                                      </li>  
                                    </ul>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="pagesTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                      <thead>
                                        <tr>
                                          <th>Family Name</th>
                                          <th>Address</th>
                                          <th>Surburb</th>
                                          <th>City</th>
            							                <th>Actions</th>
                                        </tr>
                                      </thead>
                                      
                                    </table>
                                </div>

                              </div>
                            </div>
                          <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="x_panel">
                              <div class="x_title">
                                  <h2>Family Tree <small>member nodes </small></h2>
                                   <ul class="nav navbar-right panel_toolbox">
                                      <li>
                                        <a id="eventBtn" href="#" role="buton" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".addfmModal" aria-expanded="false"><i class="glyphicon glyphicon-plus-sign"></i> add family member</a>
                                        
                                      </li>  
                                    </ul>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                              
                                  <div id="familyDiv" class="tree">

                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12" >
                            <div class="x_panel">
                              <div class="x_title">
                                  <h2>Family Address <small>update form </small></h2>
                                  <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                  </ul>
                                  <div class="clearfix"></div>
                                </div>
                                <div id="familyAddress" class="x_content">
                                <form id="familyUpdateForm" class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Family Name:</label>
                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="familyName" id="familyName" type="text"
                                         class="form-control" placeholder="">
                                      </div>
                                    </div>
                                     <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Address:</label>
                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="address" id="address" type="text" class="form-control" placeholder="">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Surburb:</label>
                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="surburb" id="surburb" type="text" class="form-control" placeholder="">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">City:</label>
                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="city" id="city" type="text" class="form-control" placeholder="">
                                      </div>
                                    </div>
                                      <input type="hidden" name="id">
                                    </form>
                                    <br/><br>
                                    <div class="ln_solid"></div>
                                      <div class="form-group">
                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                          <button onclick="updateFamily(id)" 
                                          class="btn btn-success">Save</button>
                                        </div>
                                      </div>

                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <!-- /page content -->

  <!-- add family  modal --->
<div id="newFamilyModal" class="modal fade newFamilyModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" ><div class="lblHeading">Add New Family</div></h4>
              </div>
              <div class="modal-body">
                <form id="newFamilyForm" class="form-horizontal form-label-left input_mask">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Family Name:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input name="familyName" id="familyName" type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Address:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input name="adress" id="address" type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Surburb:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input name="surburb" id="surburb" type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">City:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input name="city" id="city" type="text" class="form-control" placeholder="">
                        </div>
                        <input type="hidden" name="id">
                      </form>
                      <br/><br>
                        
                  </div>
                  <div class="modal-footer">
                    <div class="form-group">
                          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" onclick="saveNewFamily()"  data-dismiss="modal"
                             class="btn btn-success">Save</button>
                          </div>
                        </div>

                  </div>

                  </div>
              </div>
      </div>
    </div>
  </div>

  <!-- add family member modal --->
<div id="addfmModal" class="modal fade addfmModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" ><div class="lblHeading">Add family member</div></h4>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">Select Person</label>
                                    <div class="col-md-3 col-sm- col-xs-4">
                                      <select id="discipleDropDown" name="discipleDropDown" 
                                      class="form-control leaders" >
                                        <option>Choose Member To Add</option> 
                                      </select>
                                    </div> 
                                    <div class="col-md-3 col-sm- col-xs-4">
                                      <select id="familyRole" name="familyRole" class="form-control">
                                          <option value="0">Choose Family Role</option>
                                          <option value="1">Family head</option>
                                          <option value="2">Spouse</option>
                                          <option value="3">Child</option>
                                         </select>
                                      <span class="icon-user form-control-feedback right" aria-hidden="true">
                                      </span>
                                    </div>
                                    <button  onclick="addExistingDisc()" id="submit"
                                     class="btn btn-success btn-sm" data-dismiss="modal" 
                                     value="submit"><i class="fa fa-plus">
                                     </i> Add To Family </button> 
                                </div>
                                <div class="divider"></div>
                                <div class="col-md-3 col-sm- col-xs-4">
                                   <span><a title="Create New Member" onclick="showHideForm('newdiscipleForm');
                                    "id="btnNewFamilyMember"><i id="newMissionaryForm_icon" class="glyphicon glyphicon-plus-sign green" style="font-size: 30px"></i></a></span>
                                 </div>
                                  <div class="clearfix"></div>
                                  <div id="newdiscipleForm" class="well" style="display: none;">
                                  <div class="row">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                      <div id="uploadFormt" class="avatarUploadForm">
                                          <a onclick="showHide('uploadFormt')" class="boxclose" type="button">
                                          </a>
                                          <form id="uploadimaget" name="uploadimaget" action="" method="post" enctype="multipart/form-data">
                                            <input class="form-control" id="image_file" name="image_file" type="file">
                                            <input type="hidden" name="memberId">
                                          </form>
                                          <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button--><div style="margin:10px"></div>
                                          <div class="text-center">
                                          <button class="btn btn-primary btn-sm " onclick="saveImage('uploadimaget')" type="submit" name="submit" value="Upload">Upload Image</button>
                                          </div>
                                          <!--button class="btn btn-default btn-sm" data-toggle="modal" data-target=".imgUpload"><i class="glyphicon glyphicon-camera"></i> <?php echo lang("WEBCAM");?></button-->
                                          <!--button class="btn btn-default btn-sm" onclick="imgDisplay()"> img file</button-->
                                      </div>
                                           <div class="profile_img">
                                          
                                            <div id="avatar">
                                            <!-- Current avatar -->
                                            <div id="uploadimaget_avatar"  data-toggle="tooltip"
                                             data-placement="bottom" title="Change the avatar">
                                            <img  onclick="showHide('uploadFormt')" class="img-responsive avatar-view" src="images/members/user.png" alt="Avatar" 
                                            onerror="if (this.src != 'images/members/user.png')
                                             this.src = 'images/members/user.png';"></div>                                                      
                                            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-xs-12">
                                    <form id="discipleForm" class="form-horizontal form-label-left input_mask" action="" method="POST">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input name="firstName" id="firstName"  type="text" class="form-control has-feedback-left"  placeholder="First Name" required="required">
                                      <span class="icon-user form-control-feedback left" aria-hidden="true">
                                        
                                      </span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                                      <span class="icon-users form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input name="email" id="email"  type="text" class="form-control has-feedback-left"  placeholder="Email" >
                                      <span class="icon-envelope form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
                                      <span class="icon-screen-smartphone form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group
                                     has-feedback">
                                      <input name="dob" id="dob"  type="text" class="form-control has-feedback-left"  placeholder="DOB">
                                      <span class="icon-calendar form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                     <div class="col-md-6 col-sm-6 col-xs-12 form-group
                                      has-feedback">
                                  <input type="text" class="form-control has-feedback-right" 
                                  name="address" 
                                   placeholder="Address">
                                  <span class="icon-map form-control-feedback right"
                                   aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <input type="text" class="form-control has-feedback-left" 
                                  name="surburb" 
                                   placeholder="Surburb">
                                  <span class="icon-pin form-control-feedback left"
                                   aria-hidden="true"></span>
                                </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input type="text" class="form-control" name="city" id="city" 
                                      placeholder="City">
                                      <span class="icon-globe form-control-feedback right" aria-hidden="true"> 
                                      </span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input type="text" class="form-control has-feedback-left" 
                                      name="proffession" id="proffession" placeholder="Proffession">
                                      <span class="icon-pin form-control-feedback left" aria-hidden="true">
                                      </span>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                       <select id="gender" name="gender" class="form-control">
                                          <option>Choose Gender</option>
                                          <option value="M">Male</option>
                                          <option value="F">Female</option>
                                        </select>
                                      <span class="icon-symbol-female form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <select name="role" id="role" class="form-control  has-feedback-left"
                                          required="required">
                                          <option>Ministry Role</option> 
                                        </select>
                                      <span class="icon-wrench form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                     <script type="text/javascript">
                                        $('#role').html('<option value="9">Choose Ministry Role</option>'); 
                                        var opt = $("#role");
                                        $.getJSON("api/api.php/records/cmfi_roles", function(response) {
                                             $.each(response.records, function() {
                                             opt.append($("<option />").val(this.roleId).text(this.role));
                                         });
                                      });
                                    </script>

                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <select id="familyRole" name="familyRole" class="form-control">
                                          <option value="0">Choose Family Role</option>
                                          <option value="1">Family head</option>
                                          <option value="2">Spouse</option>
                                          <option value="3">Child</option>
                                         </select>
                                      <span class="icon-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>  
                                    <input type="hidden"  name="id" id="id">
                                    <input type="hidden"  name="nationCode" id="nationCode">
                                  </div>
                                </div>
                                </form>
                                <div class="divider"></div>
                                  <div id ="btnDivv" class="text-right">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                    <button  onclick="addNewDisciple()" id="submit"
                                     class="btn btn-success btn-sm" value="submit">
                                     <i class="fa fa-plus">
                                     </i> Add To Family </button> 
                                    <button onclick="saveDisciple()" id="submit" class="btn btn-primary 
                                     btn-sm" value="submit" data-dismiss="modal"><i class="fa fa-check">
                                     </i> Save </button> 
                                  </div>
                  </div>

              </div>
            </div>
        </div>
  </div>
  <!-- / add family member modal -->
 <!-- tags functionality -->
  <script src="js/tags/jquery.tagsinput.min.js"></script>
 
 <!-- input tags -->
  
  <script>
    function onAddTag(tag) {
      alert("Added a tag: " + tag);
    }

    function onRemoveTag(tag) {
      alert("Removed a tag: " + tag);
    }

    function onChangeTag(input, tag) {
      alert("Changed a tag: " + tag);
    }   
  </script>
  
  <script> 
    $(function() {
      $('#tagsy').tagsInput({
        width: 'auto'
      });    
     initialiseRolesCombo();
  });
      
</script>
 <script>

  var nation = sessionStorage.getItem("nation"); 
  console.log(nation);
          $('#pagesTable').DataTable({
          "ajax": {
        "url": "api/api.php/records/cmfi_families?filter=nation,eq,"+nation,
        "dataSrc": "records"
        },
        "columns": [
          { "data": "familyName" },
          { "data": "address" },
          { "data": "surburb" },
          { "data": "city" },
          { "data": "id" }
        ],
        columnDefs: [{
                   targets: 4,
                   render: function(data, type, full, meta){
                      if(type === 'display'){
                         data = `<a onclick="showFamilyTree(${data});sessionStorage.setItem('familyID',${data})" class="btn btn-xs btn-primary">
                                 <i class="fa fa-edit"></i> </a> 
                                 <a onclick="deleteFamily(${data})" class="btn btn-xs btn-danger">
                                 <i class="fa fa-trash"></i> </a>
                                 </div>`;                     
                      }
                       
                      return data;
                   }
                }],
          dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }
        ]
        });

      $("#loaderImg").hide(); //hide loader image


      //-------------------------------------------------   Methods --------------------------------------//

      function showFamilyTree(id){
        $.getJSON('api/funcs.php?fn=fetchFamily&id='+id, function(data) {
            var template = $('#familystpl').html();
            var html = Mustache.to_html(template, data);
            $('#familyDiv').html(html);
        }); //load family tree
        loadFamilyAddress(id);

        refreshMemberCombo(nation);
       }

       function loadFamilyAddress(id){
        $.getJSON('api/api.php/records/cmfi_families?filter=id,eq,'+id, function(data) {

            var f=data.records[0];
            familyUpdateForm.familyName.value=f.familyName;
            familyUpdateForm.address.value=f.address;
            familyUpdateForm.surburb.value=f.surburb;
            familyUpdateForm.city.value=f.city;
            familyUpdateForm.id.value=f.id;
            //discipleForm.familyID.value=f.id; //update family id on disciple form
        });
       }

       function showDiscipleData(id){
       $.getJSON("api/api.php/records/cmfi_members/?filter=id,eq,"+id,
                function(data){
                  var n=data.records[0];
                  if(data.records.length!=0)
                    {
                      discipleForm.firstName.value = n.firstName;
                      discipleForm.lastName.value = n.lastName;
                      discipleForm.dob.value = n.DOB;
                      discipleForm.city.value = n.city;
                      discipleForm.email.value=n.email;
                    $('select#gender' ).val( n.sex );
                    $('#gender').trigger('change');
                    $('select#familyRole' ).val( n.familyRole );
                    $('#familyRole').trigger('change');
                      discipleForm.phone.value = n.phone;
                      discipleForm.id.value=n.id;
                      uploadimage.memberId.value=n.id;
                    $('#imageupload1_avatar').html(`<img  onclick="showHide('uploadForm1')" class="img-responsive avatar-view" src="images/members/${n.image}" alt="Avatar" 
                                            onerror="if (this.src != 'images/members/user.png') this.src = 'images/members/user.png';">`);
                    }
                 
               });
        }
          //save existing disciple
         function saveDisciple(){
            var id=$('#id').val();
            var f= discipleForm.familyID.value;
            var famRole= $('#familyRole option:selected').val();
            var gender= $('#gender option:selected').val();
           $.ajax({
              url:'api/api.php/records/cmfi_members/'+id,
              type:'PUT',
              data:{
                  firstName:discipleForm.firstName.value,
                  lastName:discipleForm.lastName.value,
                  dob:discipleForm.dob.value,
                  city:discipleForm.city.value,
                  email:discipleForm.email.value,
                  phone:discipleForm.phone.value,
                  familyID:f,
                  familyRole:famRole,
                  sex:gender
              },
              success: function(data){
                successNote(sresponse,'disciple saved successfully!');

                //refresh family tree
                showFamilyTree(f);
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data);
              }
            });

         }
          // //delete a disciple
            function removeFamilyMember(id){
            (new PNotify({
                  title: 'Confirmation Needed',
                  text: 'Are you sure you want to remove this member from the family?',
                  icon: 'glyphicon glyphicon-question-sign',
                  hide: false,
                  confirm: {
                    confirm: true
                  },
                  buttons: {
                    closer: false,
                    sticker: false
                  },
                  history: {
                    history: false
                  },
                  addclass: 'stack-modal',
                  stack: {'dir1': 'down', 'dir2': 'right', 'modal': true}
               })).get().on('pnotify.confirm', function(){
              console.log(id);
               var familyID_=sessionStorage.getItem('familyID');
                $.ajax({
                  url:'api/api.php/records/cmfi_members/'+id,
                  type:'PUT',
                  data:{
                    familyID:0,
                    familyRole:0
                  },
                  success: function(data){
                    
                      showFamilyTree(familyID_);
                  },
                  error: function(data){
                    console.log(data);
                    errorNote(fresponse,'Oops something went wrong! '+ data);
                  }
                });
              
              });
          }

         // add existing disciple to a family 
          function addExistingDisc(){
           var familyID_=sessionStorage.getItem('familyID');
           var id=$('#discipleDropDown option:selected').val();
           var famRole= $('#familyRole option:selected').val();
            $.ajax({
              
              url:'api/api.php/records/cmfi_members/'+id,
              type:'PUT',
              data:{
                  familyID:familyID_,
                  familyRole:famRole
              },
              success: function(data){
                successNote(sresponse,'Disciple added to family successfully!');
                showFamilyTree(familyID_);
                  $('#pagesTable').DataTable().ajax.reload(); //refresh dates table
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+data.responseJSON.message);
              }
            });
          }

      //add a new Diciple
        function addNewDisciple(){
            var familyID_=sessionStorage.getItem('familyID');
            var role= $('#role option:selected').val();
            var famRole= $('#familyRole option:selected').val();
            var gender= $('#gender option:selected').val();
            $.ajax({
              url:'api/api.php/records/cmfi_members/',
              type:'POST',
              data:{
                 // country:newdiscipleForm.nationCode.value,
                  firstName:discipleForm.firstName.value,
                  lastName:discipleForm.lastName.value,
                  DOB:discipleForm.dob.value,
                  city:discipleForm.city.value,
                  surburb:discipleForm.surburb.value,
                  address:discipleForm.address.value,
                  profession:discipleForm.proffession.value,
                  role:discipleForm.role.value,
                  phone:discipleForm.phone.value,
                  email:discipleForm.email.value,
                  familyID:familyID_,
                  familyRole:famRole,
                  sex:gender
              },
              success: function(data){
                successNote(sresponse,'New Disciple added successfully!');
                showFamilyTree(familyID_);
                  $('#pagesTable').DataTable().ajax.reload(); //refresh dates table
              },
              error: function(data){
                console.log(data);
                 errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
              }
            });
          }

           //add a new family
        function saveNewFamily(){
           
            $.ajax({
              url:'api/api.php/records/cmfi_families/',
              type:'POST',
              data:{
                  familyName:newFamilyForm.familyName.value,
                  address:newFamilyForm.address.value,
                  surburb:newFamilyForm.surburb.value,
                  city:newFamilyForm.city.value,
                 
              },
              success: function(data){
                successNote(sresponse,'New Family added successfully !');
               //  if(family=="New"){createFamily();}
                
                 $('#pagesTable').DataTable().ajax.reload(); //refresh nations table
               // // $('#natDates').DataTable().ajax.reload(); //refresh dates table
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data);
              }
            });
          }


   //update family
        function updateFamily(){
           var id=familyUpdateForm.id.value;
           console.log(id);
            $.ajax({
              url:'api/api.php/records/cmfi_families/'+id,
              type:'PUT',
              data:{

                  familyName:familyUpdateForm.familyName.value,
                  address:familyUpdateForm.address.value,
                  surburb:familyUpdateForm.surburb.value,
                  city:familyUpdateForm.city.value,
                 
              },
              success: function(data){
                successNote(sresponse,'Family updated successfully!');
                 $('#pagesTable').DataTable().ajax.reload(); //refresh nations table
               
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
              }
            });
          }

            //delete a report
         function deleteFamily(id){
            (new PNotify({
                  title: 'Confirmation Needed',
                  text: 'Are you sure you want to delete this family?',
                  icon: 'glyphicon glyphicon-question-sign',
                  hide: false,
                  confirm: {
                    confirm: true
                  },
                  buttons: {
                    closer: false,
                    sticker: false
                  },
                  history: {
                    history: false
                  },
                  addclass: 'stack-modal',
                  stack: {'dir1': 'down', 'dir2': 'right', 'modal': true}
               })).get().on('pnotify.confirm', function(){
                $.ajax({
                  url:'api/api.php/records/cmfi_families/'+id,
                  type:'DELETE',
                  success: function(data){
                    successNote(sresponse,'Family deleted successfully !');
                    $('#pagesTable').DataTable().ajax.reload(); //refresh nations table
                         $('#familyDiv').html('');
                  },
                  error: function(data){
                    console.log(data);
                    errorNote(fresponse,'Oops something went wrong! '+ data);
                  }
                });
              
              });
          }

  $( function() {
      $( "#dob" ).datepicker({ changeMonth: true,
      changeYear: true});
      $( "#dob" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
      $( "#dob" ).datepicker( "option", "showAnim", "clip");

     $('#discipleDropDown').on('change', function() {
       showDiscipleData(this.value);
     
      });
  } );
 

function showMissionaryAdd(){
    $('#btnNewFamilyMember').html(`<button class="btn btn-success btn-sm" onclick="showMissionaryAdd();">
      <i class="glyphicon glyphicon-tick"></i></button>`)
    $('#newdiscipleForm').html(`
        
      `);

}
</script>
