<style type="text/css">
  /*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px){
/*Style*/
  #world-map-gdp{
    height: 580px;
  }
}

/*###Tablet(medium)###*/
@media screen and (min-width : 768px) and (max-width : 1023px){
/*Style*/
#world-map-gdp{
    height: 300px;
  }
}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 0px) and (max-width : 767px){
/*Style*/
  #world-map-gdp{
    height: 150px;
  }
}
</style>
 


 <script id="topNations" type="text/template">
    <table class="countries_list">
      {{#nations}}
        <tr>
          <td><a style="cursor:pointer;" onclick="routie('/{{code}}')">{{name}}</a></td>
          <td class="fs15 fw700 text-right">{{m}}</td>
        </tr>
        {{/nations}}
       
      </tbody>
    </table>
  </script>
	
  <div class="row col-md-12">
    <div class="col-md-8 col-sm-8 col-xs-12 form-group top_search pull-right">
                
          <div class="col-md-6 col-sm-6 col-xs-12">     
          <form action="" id="searchForm">
          <div class="input-group"> 
            <input type="text"  id="autocomplete-custom-append" 
            name="autocomplete-custom-append"class="form-control" placeholder="Select nation here.." class="form-control" style="float: left;" >
           <span class="input-group-btn" style="position: relative; ">
                <button class="btn btn-default" type="submit" id="countrySearch" >Go!</button>
              </span>
              
            </div> 
            <div id="autocomplete-container" style="position: relative; float: left; margin: 0px;"></div>
          </form> 
      </div>
        </div>    
  </div>
 <!-- top tiles -->
        <div class="row tile_count">
          <div class="col-sm-3 col-xs-6">
          <div class="animated flipInY tile_stats_count dashTab card" onclick="">
            <div class="text-center">
              <canvas width="150" height="60" id="ggdisc" class="" style="width: 150px; height: 60px;"></canvas>
              <div class="count gblDisc" ></div>
              <span class="count_top">Total Disciples</span>
            </div>
          </div>
        </div>
        
        <div onclick="routie('/nations');" class="col-sm-3 col-xs-6">
          <div class="animated flipInY  tile_stats_count dashTab card" onclick="">
            <div class="text-center">
              <canvas width="150" height="60" id="ggnat" class="" style="width: 150px; height: 60px;"></canvas>
              <div class="count green gblNations" ></div>
              <span class="count_top">Nations</span>
              <!--span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last year</span-->
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="animated flipInY tile_stats_count dashTab card" onclick="">
            <div class="text-center">
              <canvas width="150" height="60" id="ggcont" class="" style="width: 150px; height: 60px;"></canvas>
              <div class="count" id="gblcont">6</div>
              <span class="count_top">Continents</span>
              <!--span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last year</span-->
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="animated flipInY  tile_stats_count dashTab card">
            <div class="text-center">
              <canvas width="150" height="60" id="gghc" class="" style="width: 150px; height: 60px;"></canvas>
              <div class="count gblHC" id="gblHC"></div>
              <span class="count_top">House Churches</span>
              <!--span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last year</span-->
            </div>
          </div>
        </div>
      </div>
        <!-- /top tiles -->
                <div class="row">
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Global Footprint of CMFI Associated Mission Fields <small>World Conquest For Christ</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li>
                                    <form id="mapColorForm" name="mapColorForm" action="" method="POST">
                                    <div class="input-group demo2">
                                      <input type="text" id="mapColory" name="mapColory" value="#149B7E" class="form-control" />
                                      <span class="input-group-addon"><i></i></span>
                                    </div>
                                  </form>
                                  </li>
                                  <li><a onclick="showmap('#ffffff',mapColorForm.mapColory.value);">Update Color</a>
                                  </li>
                                </ul>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <div id="mapContainer" class="dashboard-widget-content">
                              
                              <div id="world-map-gdp" class="" ></div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="row">
                          <div class="col-md-12 hidden-small">
                             <div class="x_panel">
                                <div class="x_title">
                                  <h2>Top Nations <small>summary</small></h2>
                                  <!--ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                  </ul-->
                                  <div class="clearfix"></div>
                                </div>
                                  <div class="x_content">
                                    <h2 class="line_30"><span class="gblDisc"></span> disciples in <span class="gblHC"></span> churches in <span class="gblNations"></span> nations</h2>
                                    <div id="topNationsDiv" ></div>
                                   
                                  </div>
                                </div>
                            </div>
                              <div class="col-md-12 col-sm-12 col-xs-12 hidden-small">
                                 <div class="x_panel">
                                  <div class="x_title">
                                    <h2>Global Outreach <small>Horizon 2065!</small></h2>
                                    <!--ul class="nav navbar-right panel_toolbox">
                                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                      </li>
                                      <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                          <li><a href="#">Settings 1</a>
                                          </li>
                                          <li><a href="#">Settings 2</a>
                                          </li>
                                        </ul>
                                      </li>
                                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                                      </li>
                                    </ul-->
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="x_content">
                            
                                        <div class="col-md-12 col-sm-12 col-xs-6">
                                          <div>
                                            <p>Disciples</p>
                                            <div class="">
                                              <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80" aria-valuenow="79" style="width: 5%;"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div>
                                            <p>Nations</p>
                                            <div class="">
                                              <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80" aria-valuenow="79" style="width: 30%;"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-6">
                                          <div>
                                            <p>House Churches</p>
                                            <div class="">
                                              <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80" aria-valuenow="79" style="width: 10%;"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div>
                                            <p>Leaders</p>
                                            <div class="">
                                              <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80" aria-valuenow="13" style="width: 13%;"></div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                  
        		</div>
        		
            <div class="row">
             <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Recent Activities <small>in db</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Settings 1</a>
                              </li>
                              <li><a href="#">Settings 2</a>
                              </li>
                            </ul>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <div id="recentActions" class="dashboard-widget-content">
                        </div>
                      </div>
                    </div>

                      <div class="x_panel">
                      <div class="x_title">
                        <h2>Records Creation <small>rate in the past 30 days </small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Settings 1</a>
                              </li>
                              <li><a href="#">Settings 2</a>
                              </li>
                            </ul>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">

                        <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                          <div class="col-md-12" style="overflow:hidden;">
                            <span class="sparkline_one" style="height: 160px; padding: 10px 25px;">
                                          <canvas width="100" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                      </span>
                            <h5 style="margin:18px">disciple records creation activity</h5>
                          </div>

                          
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">

                <div class="row">

                  <!-- Display top user profiles -->
                  <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">
                                <h2>Recent Members Added</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">view all profiles</a>
                                      </li>
                                      <li><a href="#"></a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                                  </li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
        					           <div class="x_content" id="topMembers">
                            <ul class="list-unstyled top_profiles scroll-view">                        
                            </ul>
        					       </div>
                     </div>
                  </div>

                   <!-- Display online user profiles -->
                  <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">
                                <h2>Online Users<small>active sessions</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">view all profiles</a>
                                      </li>
                                      <li><a href="#"></a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                                  </li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                             <div class="x_content" id="onlineUsers" style="overflow: scroll;">
                              <ul class="list-unstyled top_profiles scroll-view">                        
                              </ul>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                      <div class="x_title">
                        <h2>Top Dates</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">View All</a>
                              </li>
                              <li><a href="#">New Event</a>
                              </li>
        					            <li><a href="#">Refresh Event</a>
                              </li>
                            </ul>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content" id="topEvents">
        				
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                      <div class="x_title">
                        <h2>Quick Actions</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Settings 1</a>
                              </li>
                              <li><a href="#">Settings 2</a>
                              </li>
                            </ul>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <div class="dashboard-widget-content">
                          <ul class="quick-list">
                            <li><a onclick="routie('/disciple/new');"><i class="icon-user-follow"></i> Add new disciple</a>
                            </li>
                            <li><a onclick="routie('/tools/excel_import');"><i class="icon-arrow-down"></i> import excel</a>
                            </li>
                            <li><a onclick="routie('/nations/new');"><i class="icon-envelope-letter"></i> Add new Nation</a> </li>
                            
                          </ul>

                          <div class="sidebar-widget">
                            <h4>Database Growth</h4>
                            <canvas width="150" height="80" id="foo" class="" style="width: 160px; height: 100px;"></canvas>
                            <div class="goal-wrapper">
                              
                              <span id="gauge-text" class="gauge-value pull-left"> </span><span class="gauge-value pull-left">KB</span>
                              <span id="goal-text" class="goal-value pull-right">5MB</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

        
                  <div class="col-md-12">
                    
                  </div>
                

          </div>
        </div>
  </div>

  <!-- bootstrap progress js -->
  <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
   <!-- gauge js -->
  <script type="text/javascript" src="js/gauge/gauge.min.js"></script>
  <script type="text/javascript" src="js/gauge/gauge_demo.js"></script>
  
  <!-- sparkline -->
  <script src="js/sparkline/jquery.sparkline.min.js"></script>
  <!-- color picker -->
  <script src="js/colorpicker/bootstrap-colorpicker.min.js"></script>
  <script src="js/colorpicker/docs.js"></script>

  <script type="text/javascript">

   
    
    //gauge.setTextField(document.getElementById('gauge-text'));
  </script>

  <!-- display top latest events -->
  <script type="text/javascript">
      $(function() {
        var nation = '';
        sessionStorage.setItem("nation", nation);

        $.getJSON('api/funcs.php?fn=fetchTopNationMembers', function(data) {
          var template = $('#topNations').html();
          var html = Mustache.to_html(template, data);
          $('#topNationsDiv').html(html);
        }); //getEvents

      	$.getJSON('api/funcs.php?fn=fetchEvents', function(data) {
      		var template = $('#eventstpl').html();
      		var html = Mustache.to_html(template, data);
      		$('#topEvents').html(html);
      	}); //getEvents
      	
      	$.getJSON('api/funcs.php?fn=fetchOnlineUsers', function(data) {
      		var template = $('#usersOnlinestpl').html();
      		var html = Mustache.to_html(template, data);
      		$('#onlineUsers').html(html);
      	}); //getTopUsers

        $.getJSON('api/funcs.php?fn=fetchRecentMembers', function(data) {
          var template = $('#membersstpl').html();
          var html = Mustache.to_html(template, data);
          $('#topMembers').html(html);
        }); //getTopMembers
        
      	$.getJSON('api/funcs.php?fn=fetchLogs', function(data) {
          var template = $('#recentActionsstpl').html();
          var html = Mustache.to_html(template, data);
          $('#recentActions').html(html);
        }); //getTopMembers
      	//$('#footer').load('includes/footer.php').html();
        $.getJSON("api/funcs.php?fn=fetchGlobalTotals", function(res) {
              $('#gblLeaders').html(res.leaders.toLocaleString());
              $('.gblHC').html(res.housechurches.toLocaleString());
             // $('#gblLocalities').html(res.localities.toLocaleString());
              $('.gblDisc').html(res.disciples.toLocaleString());
              $('#gblEvents').html(res.events.toLocaleString());
              $('.gblNations').html(res.nations.toLocaleString());
              $('#gauge-text').html(res.dbsize.toLocaleString());
              //alert(response.name);
         

              //set Gauges with the data from the totals
              //Disciples Gauge
              var target = document.getElementById('ggdisc'); // your canvas element
              var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
              gauge.maxValue = 10000000; // set max gauge value
              gauge.animationSpeed = 32; // set animation speed (32 is default value)
              gauge.set(res.disciples); // set actual value

              //Nations Gauge
              var target = document.getElementById('ggnat'); // your canvas element
              var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
              gauge.maxValue = 250; // set max gauge value
              gauge.animationSpeed = 32; // set animation speed (32 is default value)
              gauge.set(res.nations); // set actual value

              //localities gauge
              var target = document.getElementById('ggcont'); // your canvas element
              var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
              gauge.maxValue = 6; // set max gauge value
              gauge.animationSpeed = 32; // set animation speed (32 is default value)
              gauge.set(6); // set actual value

              //House Churches Gauge
              var target = document.getElementById('gghc'); // your canvas element
              var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
              gauge.maxValue = 250000; // set max gauge value
              gauge.animationSpeed = 32; // set animation speed (32 is default value)
              gauge.set(res.housechurches); // set actual value

          });
      }); //function
  </script>

  <!-- worldmap -->
  <script type="text/javascript" src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>
  <script type="text/javascript" src="js/maps/gdp-data1.js"></script>
  <script type="text/javascript" src="js/maps/jquery-jvectormap-world-mill-en.js"></script>
  <script type="text/javascript" src="js/maps/jquery-jvectormap-us-aea-en.js"></script>
  
  <!-- Autocomplete -->
  <script type="text/javascript" src="js/autocomplete/countries.js"></script>
  <script src="js/autocomplete/jquery.autocomplete.js"></script>


  <script type="text/javascript">
    $(function() {
      'use strict';
      var countriesArray = $.map(countries, function(value, key) {
        return {
          value: value,
          data: key
        };
      });
      // Initialize autocomplete with custom appendTo:
      $('#autocomplete-custom-append').autocomplete({
        lookup: countriesArray,
        appendTo: '#autocomplete-container'


    });
      $('#countrySearch').click(function(e){
        e.preventDefault();

        var code=$("#autocomplete-custom-append").val();
         
        //alert(code);
        if(code==""){errorNote('Oops!','No country entered, please enter country name');}
        else{
            //checkif nation is registered already store nation in session variable
             $.getJSON("api/funcs.php?fn=fetchNationCode&n="+code, function(response) {
               if(response.code!=null){
                    var nation=response.code;
                  console.log(nation);
                  localStorage.setItem('nation',nation);
                  sessionStorage.setItem('nation',nation);

                  //update general combos
                  refreshMemberCombo(nation);
                  initialiseFamilyCombo(nation);
                  initialiseLoclaitiesCombo(nation);

                  //route to specific country directory
                  routie(`/${response.code}`);
               }else{

               
                (new PNotify({

                  title: 'Searching for this nation?',
                  text: `Well ${response.name} is not registered in the database`,
                  icon: 'fa fa-question-circle',
                  hide: false,
                   confirm: {
                     confirm: true 
                   },
                  buttons: {
                    closer: false,
                    sticker: false
                  },
                  history: {
                    history: false
                  },
                  addclass: 'stack-modal',
                  stack: {'dir1': 'down', 'dir2': 'right', 'modal': true}
                })).get().on('pnotify.confirm', function(){
                  //check if country exists
                  $.getJSON("api/api.php/records/cmfi_countries?filter=name,eq,"+response.name,function(res){
                    if(res.records.length!=0){
                      var nation=res.records[0];
                      // console.log(nation);
                      // localStorage.setItem('nation',nation);
                     // console.log(res);
                     // routie(`/nations/new/${nation.code}`);
                    }else{
                        errorNote('Cannot create country','You have entered a country name that does not exist.')
                      }
                  });
                    
                 
                });
               }
               
            });
           
           //setTimeout(, 2000);
            
        }
      });
    });
  </script>


   <script>
    //set locality on change of country
     $(document).on('change', 'select#countrySearch', function(){
      var value = $('select#countrySearch option:selected').val();
      window.localStorage.setItem('value');

  })
                 

  </script>


   
  <script>
    $(function() {
      //showmap('#ffffff', '#d91e18'); //red
      showmap('#ffffff', '#149B7E'); //green
    });

    function showmap(color1,color2){
      $('#mapContainer').html('<div id="world-map-gdp" class="" ></div>');
      $('#world-map-gdp').vectorMap({
        map: 'world_mill_en',
        backgroundColor: '#6C7A89',//'#A9A9A9',
        zoomOnScroll: false,
        zoomAnimate:true,
        series: {
          regions: [{
            values: gdpData,
            //scale: ['#ffffff', '#149B7E'], //green
            scale: [color1, color2], 
            //scale: ['#f7f4f9', '#6D366F'], //purple
            normalizeFunction: 'polynomial'
          }]
        },
        onRegionTipShow: function(e, el, code) {
          el.html(el.html() + ' (' + gdpData[code] + ' Members)');
        },

        onRegionClick: function (event, code) {
            routie('/'+code); 
        }

      });
    }
  </script>


<!--script>
    //@code_start
    $(function() {
      $.getJSON('js/maps/us-unemployment.json', function(data) {
        var val = 2009;
        statesValues = jvm.values.apply({}, jvm.values(data.states)),
          metroPopValues = Array.prototype.concat.apply([], jvm.values(data.metro.population)),
          metroUnemplValues = Array.prototype.concat.apply([], jvm.values(data.metro.unemployment));
        $('#usa_map').vectorMap({
          map: 'us_aea_en',
          markers: data.metro.coords,
          backgroundColor: 'transparent',
          zoomOnScroll: false,
          series: {
            markers: [{
              attribute: 'fill',
              scale: ['#FEE5D9', '#A50F15'],
              values: data.metro.unemployment[val],
              min: jvm.min(metroUnemplValues),
              max: jvm.max(metroUnemplValues)
            }, {
              attribute: 'r',
              scale: [5, 20],
              values: data.metro.population[val],
              min: jvm.min(metroPopValues),
              max: jvm.max(metroPopValues)
            }],
            regions: [{
              scale: ['#E6F2F0', '#149B7E'],
              attribute: 'fill',
              values: data.states[val],
              min: jvm.min(statesValues),
              max: jvm.max(statesValues)
            }]
          },
          onMarkerTipShow: function(event, label, index) {
            label.html(
              '<b>' + data.metro.names[index] + '</b><br/>' +
              '<b>Population: </b>' + data.metro.population[val][index] + '</br>' +
              '<b>Unemployment rate: </b>' + data.metro.unemployment[val][index] + '%'
            );
          },
          onRegionTipShow: function(event, label, code) {
            label.html(
              '<b>' + label.html() + '</b></br>' +
              '<b>Unemployment rate: </b>' + data.states[val][code] + '%'
            );
          }
        });
      });
    });
    //@code_end
  </script-->


  <script>
    $('document').ready(function() {
      $.ajax({
        url: "api/funcs.php?fn=fetchRecordsSparkline",
       method: "GET",
      success: function(data) {
        var date = [];
      var records = [];
      var jsonArr = jQuery.parseJSON(data);

      for(var i in jsonArr) {
        date.push(jsonArr[i].date);
        records.push(jsonArr[i].records);
      }

      $(".sparkline_one").sparkline(records, {
        type: 'bar',
        height: '90',
        barWidth: 10,
        colorMap: {
          '7': '#a1a1a1'
        },
        barSpacing: 2,
        barColor: '#26B99A'
      });
    }
    });
  });

  $("#loaderImg").hide(); //hide loader image
</script>

