 .square_btn16 {
    display: inline-block;
    padding: 0.3em 1em;
    border: solid 2px #67c5ff;
    transition: .4s;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 15px;
    height:30px;
    text-align: center;
    margin-top: 10px;
    color: white;
    }

  .circularbtn{
    background-color: #FFF;
    text-transform: uppercase;
    border: 1px solid #26a69a;
    border-radius: 3em;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    margin-left: 10px;
    margin-top: 10px;
    padding: 9px 9px;
    height:40px;
    text-align: center;
    transition: all .25s ease;
    cursor: pointer;
  }
  .footer {
    padding: 4.78571em 0px;
    background: #232931;
    color: rgb(255, 255, 255);
    padding: 2em 1em;
    z-index: 0;
}

/*  Landing page */
#imgbg{
    background-image:url("../images/koume_bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
    

.cd-section{
    width: 100%;
    min-height: 610px;
    background: rgba(0,0,0,0.6) url('../images/koume_bg1.jpg');
    background-blend-mode: darken;
    background-position:center;
}


.cd-modal-action .btn {
    display: inline-block;
    height: 4em;
    border-color:  #FFF;
    text-align: center;
    width: 12.5em;
    border-radius: 5em;
    color: #ffffff;
    line-height: 4em;
    white-space: nowrap;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
    -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
    transition: color 0.2s 0.3s, width 0.3s 0s;
}
.cd-section p {
    margin: 2em 0;
    padding:3em 7em;
    line-height: 1.6;
    text-align: center;
    font: 24px/34px "expertsans", sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*  ---------- ID CARD -----------------------*/
.id-bg {
    background-color: #d7d6d3;
    font-family:'verdana';
}
.id-card-holder {
    width: 225px;
    padding: 4px;
    margin: 0 auto;
    background-color: #1f1f1f;
    border-radius: 5px;
    position: relative;
}
.id-card-holder:after {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    border-radius: 0 5px 5px 0;
}
.id-card-holder:before {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    left: 222px;
    border-radius: 5px 0 0 5px;
}
.id-card {
    
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0px #b9b9b9;
}
.id-card img {
    margin: 0 auto;
}
.header img {
    width: 100px;
    margin-top: 15px;
}
.photo img {
    width: 80px;
    margin-top: 15px;
}
#idCard h2 {
    font-size: 15px;
    margin: 5px 0;
}
#idCard h3 {
    font-size: 12px;
    margin: 2.5px 0;
    font-weight: 300;
}
.qr-code img {
    width: 120px;
}
#idCard p {
    font-size: 5px;
    margin: 2px;
}
.id-card-hook {
    background-color: #000;
    width: 70px;
    margin: 0 auto;
    height: 15px;
    border-radius: 5px 5px 0 0;
}
.id-card-hook:after {
    content: '';
    background-color: #d7d6d3;
    width: 47px;
    height: 6px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 6px;
    border-radius: 4px;
}
.id-card-tag-strip {
    width: 45px;
    height: 40px;
    background-color: #0950ef;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    top: 9px;
    z-index: 1;
    border: 1px solid #0041ad;
}
.id-card-tag-strip:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c1c1c1;
    position: relative;
    top: 10px;
}
.id-card-tag {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #0958db;
    margin: -10px auto -30px auto;
}
.id-card-tag:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #d7d6d3;
    margin: -10px auto -30px auto;
    position: relative;
    top: -90px;
    left: -50px;
}