
<script>
   var tableRows = [
    {name: 'name1',
     values: ['1','2','3']},
    {name: 'name2',
     values: ['1','2','3']},
    {name: 'name3',
     values: ['1','2','3']}
    ];

var template = $('#mustache-template').html();

$('#target').append(Mustache.render(template, {rows: tableRows}));
</script>
<div id="mustache-template">
    <table>
        <tbody>
             <!--{{#rows}}-->
                <tr class="">
                  <td>{{name}}</td>
                  <!--{{#values}}-->
                    <td>{{.}}</td>
                  <!--{{/values}}-->
                </tr>
              <!--{{/rows}}-->
        </tbody>
    </table>
</div>
<div id="target"></div>