      
                <div class="form-row">   
                     <div class="dropdown col-md-12">
                       <label for="preferredAcc">
                        Do you have preferred accommodation? (NB: You will pay for it)
                       </label>
                         <select id='preferredAcc' name='preferredAcc' class="form-control" required>
                              <option value="">Select </option>
                                 <option name="preferredAcc" value="1">Yes</option>
                                 <option name="preferredAcc" value="0">No</option>
                             
                         </select>
                      </div>
                </div><br>  

                 <div class="form-row">   
                     <div class="dropdown col-md-12">
                       <label for="room">
                         Type of preferred accommodation (NB: You will pay for it)
                       </label>
                         <select id='room' name='room' class="form-control" required>
                              <option value="">Select </option>
                           <option name = "room" value="Hotel room - single" > Hotel room - single </option>
                           <option name = "room" value="Hotel room - double" > Hotel room - double </option>
                           <option name = "room" value="Compound accomodation">Compoundaccomodation</option>
                             
                         </select>
                      </div>
                </div><br>  
