 <div class="dropdown col-md-12">
 	 <label for="howmany">Add Your Additional Info Here </label>
	    <textarea class="form-control z-depth-1" rows="4" id="additionalInfoDetails" rows="3" 
	    placeholder="Any other thing you may want to know about yourself or the convention?....">
	                          

	    </textarea>
</div>