        <div class="form-group purple-border col-md-12">
                    <label for="accommodationDetails">
                        Please provide us with details (type, address, contacts, etc.)    
                    </label><br>
                    <textarea class="form-control z-depth-1" rows="4" id="testimony" rows="3" 
                     placeholder="Provide the details here ..." required>
                      
                    </textarea>
              </div>

                <div class="form-row">   
                     <div class="dropdown col-md-12">
                       <label for="preferredAcc">
                        Do you have preferred accommodation? (NB: You will pay for it)
                       </label>
                         <select id='preferredAcc' name='preferredAcc' class="form-control" required>
                              <option value="">Select </option>
                                 <option name="preferredAcc" value="Yes">Yes</option>
                                 <option name="preferredAcc" value="No">No</option>
                             
                         </select>
                      </div>
                </div><br>  

                 <div class="form-row">   
                     <div class="dropdown col-md-12">
                       <label for="room">
                         Type of preferred accommodation (NB: You will pay for it)
                       </label>
                         <select id='room' name='room' class="form-control" required>
                              <option value="">Select </option>
                           <option name = "room" value="Hotel room - single" > Hotel room - single </option>
                           <option name = "room" value="Hotel room - double" > Hotel room - double </option>
                           <option name = "room" value="Compound accomodation">Compoundaccomodation</option>
                             
                         </select>
                      </div>
                </div><br>  
