    <div class="col-md-12 col-sm-12 col-xs-12">
   

        <div id="memberTabs" class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
          <li id="homeTab" role="presentation" class="active tab"><a class="purple" href="#tab_content0" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><i class="icon-users purple"></i> Disciples</a>
          </li>
          <!--li id="newMemberTab" role="presentation" ><a class="green" href="#tab_contentx" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false"><i class="icon-user green"></i> New Person</a>
          </li-->
          <li id="newMemberTab" role="presentation" ><a class="green" href="#tab_families" role="tab" id="family-tab" data-toggle="tab" aria-expanded="false"><i class="icon-home green"></i> Families</a>
          </li>
          <!--li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
          </li-->
        </ul>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="tab_content0" aria-labelledby="home-tab" tabindex='1'>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                  <h2>Manage Disciples <small>disciple records</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a id="eventBtn" href="#" role="buton" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".newDiscipleModal" aria-expanded="false"><i class="glyphicon glyphicon-plus-sign"></i> New Disciple</a>
                        
                      </li>  
                    </ul>
                  <div class="clearfix"></div>
                </div>
              <div class="x_content">

              <table id="datatable-disciples" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th></th>
                  <th>FirstName</th>
                  <th>LastName</th>
                  <th>Locality</th>
                  <th>City</th>
                  <th>Gender</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Tags</th>
                  <th>Actions</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
              </div>
            </div>
            <!-- New member tab -->
            <div role="tabpanel" class="tab-pane fade active in" id="tab_contentx" aria-labelledby="home-tab" tabindex='1'>

              <div id="newMemberDiv">
              </div>

            </div>
             <!-- Family tab -->
            <div role="tabpanel" class="tab-pane fade in" id="tab_families" aria-labelledby="home-tab" tabindex='1'>

              <div id="familiesDiv">
              </div>

            </div>
            </div>
          </div>
        
    </div>

<script type="text/javascript">

      function getid(){
                  var str=window.location.href;
                  var idArr= str.split("/");
                  var l=idArr.length;
                  return idArr[l-2];
                }
      var nation=getid();
      sessionStorage.setItem('nation',nation);
     
      // var nation = sessionStorage.getItem('nation'); 

        //---------------------------------------------------------------//
        //---------                DISCIPLES              ---------------//
        //---------------------------------------------------------------//
        document.getElementById("countryx").value=nation;
        //document.getElementById("nationCode").value=nation;
        if(nation.length>3){nation='';}
         console.log(nation);
        var table=$('#datatable-disciples').DataTable({
        "ajax": {
          "url":"api/api.php/records/cmfi_members?join=cmfi_localities&filter=country,eq,"+nation,
          "dataSrc":"records"
        },
        "columns": [
          { "data": "image" },
          { "data": "firstName" },
          { "data": "lastName" },
          { "data": "locality" },
          { "data": "city" },
          //{ "data": "country" },
          { "data": "sex" },
          { "data": "phone" },
          { "data": "email" },
          { "data": "tags" },
          { "data": "id" }
        ],
        "order": [[ 1, "asc" ]],
        "columnDefs": [{
               targets: 0,
               render: function(data, type, full, meta){
                  if(type === 'display'){
                     data = `<span class="user-profile btn_disciple" ><img src="images/members/${data}" alt="" > </span>`;                     
                  }
                   
                  return data;
               }
            },
            {
               targets: 3,
               render: function(data, type, full, meta){
                  if(type === 'display'){
                     data = data.localityName;                     
                  }
                   
                  return data;
               }
            },
            {
                "targets": [ 8 ],
                "visible": false,
                "searchable": true
            },
            {
              targets: 5,
           render: function(data, type, full, meta){
              if(type === 'display'){
                switch (data){
                  case "M":
                    data=`<span class="badge bg-green">Male</span>`;
                    break;
                  case "F":
                    data=`<span class="badge bg-purple">Female</span>`;
                    break;
                  
                }

                  
                 }
                 return data;
              }
               
           },
       {
           targets: 9,
           render: function(data, type, full, meta){
              if(type === 'display'){
                 data = `<div class="button-group">
                     <a onclick="loadDisciple(${data})" class="btn btn-xs btn-primary" data-toggle="modal" data-target=".discipleModal">
                     <i class="fa fa-edit"></i> </a> 
                     <a onclick="deleteMember(${data})" class="btn btn-xs btn-danger">
                     <i class="fa fa-trash"></i> </a>
                     </div>`;                     
              }
               
              return data;
           }
        }],
          dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }
        ]
      });

       $('#datatable-disciples tbody').on( 'dblclick', 'tr', function () {
        var data = table.row( this ).data();
        //console.log(table.row(this).data());        
        if ( $(this).hasClass('selected') ) {
          $(this).removeClass('selected');
        }
        else {
          table.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
          viewMemberTab(data["id"],data["firstName"]);  //open the tab for the respective member
        }
      } );
    
      $('#button').click( 
        function () {
        table.row('.selected').remove().draw( false );
      } );

      
      // load new member panel 
       $('#newMemberTab').click(
        function() { 
          $('#newMemberDiv').load('views/memberAdd.php').show();
        });

      //load new family panel
      $('#family-tab').click(
        function() {
         $('#familiesDiv').load('views/families.html').show(); 
       });

      

</script>