<style type="text/css">


</style>        


        <div class="">
          
          <div class="clearfix"></div>

          <div class="row">


                  <div class="col-md-12 col-sm-12 col-xs-12">
                    
                            <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                              <div class="x_panel">
                                <div class="x_title">
                                  <h2>Manage Families <small>list of families</small></h2>
                                  <ul class="nav navbar-right panel_toolbox">
                                      <li>
                                        <a id="eventBtn" href="#" role="buton" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".newFamilyModal" aria-expanded="false"><i class="glyphicon glyphicon-plus-sign"></i> New family</a>
                                        
                                      </li>  
                                    </ul>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="pagesTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                      <thead>
                                        <tr>
                                          <th>Family Name</th>
                                          <th>Address</th>
                                          <th>Surburb</th>
                                          <th>City</th>
            							                <th>Actions</th>
                                        </tr>
                                      </thead>
                                      
                                    </table>
                                </div>

                              </div>
                            </div>
                          <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="x_panel">
                              <div class="x_title">
                                  <h2>Family Tree <small>member nodes </small></h2>
                                   <ul class="nav navbar-right panel_toolbox">
                                      <li>
                                        <a id="eventBtn" href="#" role="buton" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".addfmModal" aria-expanded="false"><i class="glyphicon glyphicon-plus-sign"></i> add family member</a>
                                        
                                      </li>  
                                    </ul>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                              
                                  <div id="familyDiv" class="tree">

                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12" >
                            <div class="x_panel">
                              <div class="x_title">
                                  <h2>Family Address <small>update form </small></h2>
                                  <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                  </ul>
                                  <div class="clearfix"></div>
                                </div>
                                <div id="familyAddress" class="x_content">
                                <form id="familyUpdateForm" class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Family Name:</label>
                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="familyName" id="familyName" type="text" class="form-control" placeholder="">
                                      </div>
                                    </div>
                                     <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Address:</label>
                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="adress" id="address" type="text" class="form-control" placeholder="">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Surburb:</label>
                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="surburb" id="surburb" type="text" class="form-control" placeholder="">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">City:</label>
                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="city" id="city" type="text" class="form-control" placeholder="">
                                      </div>
                                      <input type="hidden" name="id">
                                    </form>
                                    <br/><br>
                                    <div class="ln_solid"></div>
                                      <div class="form-group">
                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                          <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                      </div>

                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <!-- /page content -->

  <!-- add family  modal --->
<div id="newFamilyModal" class="modal fade newFamilyModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" ><div class="lblHeading">Add New Family</div></h4>
              </div>
              <div class="modal-body">
                <form id="newFamilyForm" class="form-horizontal form-label-left input_mask">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Family Name:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input name="familyName" id="familyName" type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Address:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input name="adress" id="address" type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Surburb:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input name="surburb" id="surburb" type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">City:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input name="city" id="city" type="text" class="form-control" placeholder="">
                        </div>
                        <input type="hidden" name="id">
                      </form>
                      <br/><br>
                        
                  </div>
                  <div class="modal-footer">
                    <div class="form-group">
                          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Save</button>
                          </div>
                        </div>

                  </div>

                  </div>
              </div>

      </div>
    </div>
  </div>

  <!-- add family member modal --->
<div id="addfmModal" class="modal fade addfmModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" ><div class="lblHeading">Add family member</div></h4>
              </div>
              <div class="modal-body">
                   <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Person</label>
                      <div class="col-md-7 col-sm- col-xs-12">
                        <select id="discipleDropDown"  name="discipleDropDown" 
                        class="form-control leaders" >
                          <option>Choose dsciple</option>
                        </select>
                      </div>
                      <!--span><a onclick="showHideForm('newdiscipleForm');"
                     id="btnNewdisciple"><i id="newdiscipleForm_icon" class="glyphicon glyphicon-plus-sign green" style="font-size: 30px"></i></a></span-->
                    </div>
                   <br/>
                    <div class="clearfix"></div>
                    <div id="newdiscipleForm" class="well" style="display: block">
                    <div class="row">
                      <div class="col-md-3 col-sm-12 col-xs-12">
                        <div id="uploadForm1" class="avatarUploadForm">
                            <a onclick="showHide('uploadForm1')" class="boxclose" type="button"></a>
                            <form id="uploadimage" name="uploadimage" action="" method="post" enctype="multipart/form-data">
                              <input class="form-control" id="image_file" name="image_file" type="file">
                              <input type="hidden" name="memberId">
                            </form>
                            <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button--><div style="margin:10px"></div>
                            <div class="text-center">
                            <button class="btn btn-primary btn-sm " onclick="saveImage('uploadimage')" type="submit" name="submit" value="Upload">Upload Image</button>
                            </div>
                            <!--button class="btn btn-default btn-sm" data-toggle="modal" data-target=".imgUpload"><i class="glyphicon glyphicon-camera"></i> <?php echo lang("WEBCAM");?></button-->
                            <!--button class="btn btn-default btn-sm" onclick="imgDisplay()"> img file</button-->
                        </div>
                             <div class="profile_img">
                            
                              <div id="avatar">
                              <!-- Current avatar -->
                              <div id="profileAvatar"  data-toggle="tooltip" data-placement="bottom" title="Change the avatar">
                              <img  onclick="showHide('uploadForm1')" class="img-responsive avatar-view" src="images/members/user.png" alt="Avatar" 
                              onerror="if (this.src != 'images/members/user.png') this.src = 'images/members/user.png';"></div>
                                            
                              <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                              </div>
                              
                               <!--div class="col-md-3 col-sm-12 col-xs-12 form-group has-feedback" >
                                <input id="imgFileName" value="" type="text" class="form-control has-feedback-left" >
                                <span class="icon-camera form-control-feedback left" aria-hidden="true"></span>
                              </div-->
                            </div>
                      </div>
                      <div class="col-md-9 col-sm-12 col-xs-12">
                      <form id="discipleForm" class="form-horizontal form-label-left input_mask" action="" method="POST">
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input name="firstName" id="firstName"  type="text" class="form-control has-feedback-left"  placeholder="First Name" required="required">
                        <span class="icon-user form-control-feedback left" aria-hidden="true"></span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                        <span class="icon-users form-control-feedback right" aria-hidden="true"></span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input name="email" id="email"  type="text" class="form-control has-feedback-left"  placeholder="Email" >
                        <span class="icon-envelope form-control-feedback left" aria-hidden="true"></span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
                        <span class="icon-screen-smartphone form-control-feedback right" aria-hidden="true"></span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input name="dob" id="dob"  type="text" class="form-control has-feedback-left"  placeholder="DOB">
                        <span class="icon-calendar form-control-feedback left" aria-hidden="true"></span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" name="city" id="city" placeholder="City">
                        <span class="icon-globe form-control-feedback right" aria-hidden="true"></span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback-left">
                         <select id="gender" name="gender" class="form-control">
                            <option>Choose Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                          </select>
                        <span class="icon-symbol-female form-control-feedback left" aria-hidden="true"></span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                         <select id="familyRole" name="familyRole" class="form-control">
                            <option value="0">Choose Family Role</option>
                            <option value="1">Family head</option>
                            <option value="2">Spouse</option>
                            <option value="3">Child</option>
                           </select>
                        <span class="icon-user form-control-feedback right" aria-hidden="true"></span>
                      </div>
                         
                         
                      <input type="hidden"  name="id" id="id">
                      <input type="hidden"  name="familyID" id="familyID">
                      <input type="hidden"  name="nationCode" id="nationCode">
                    </div>
                  </div>
                  </form>
                  <div class="divider"></div>
                  <div id ="btnDivv" class="text-right">
                      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                      <button  onclick="addNewDisciple()" id="submit"
                       class="btn btn-success btn-sm" value="submit"><i class="fa fa-plus">
                       </i> Create New </button> 
                      <button onclick="saveDisciple()" id="submit" class="btn btn-primary  btn-sm" value="submit" data-dismiss="modal"><i class="fa fa-check"></i> Save </button> 
                    </div>
                  </div>

              </div>
            </div>
        </div>
  </div>




  <!-- / add family member modal -->


 <script>

  var nation = sessionStorage.getItem("nation"); 
  console.log(nation);
          $('#pagesTable').DataTable({
          "ajax": {
        "url": "api/api.php/records/cmfi_families?filter=nation,eq,"+nation,
        "dataSrc": "records"
        },
        "columns": [
          { "data": "familyName" },
          { "data": "address" },
          { "data": "surburb" },
          { "data": "city" },
          { "data": "id" }
        ],
        columnDefs: [{
                   targets: 4,
                   render: function(data, type, full, meta){
                      if(type === 'display'){
                         data = `<a onclick="showFamilyTree(${data});" class="btn btn-xs btn-primary">
                                 <i class="fa fa-edit"></i> </a> 
                                 <a onclick="deleteFamily(${data})" class="btn btn-xs btn-danger">
                                 <i class="fa fa-trash"></i> </a>
                                 </div>`;                     
                      }
                       
                      return data;
                   }
                }],
          dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }
        ]
        });

      $("#loaderImg").hide(); //hide loader image


      //-----------------------------------   Methods --------------------------------------//

      function showFamilyTree(id){
        $.getJSON('api/funcs.php?fn=fetchFamily&id='+id, function(data) {
            var template = $('#familystpl').html();
            var html = Mustache.to_html(template, data);
            $('#familyDiv').html(html);
        }); //load family tree
        loadFamilyAddress(id);

        refreshMemberCombo(nation);
       }

       function loadFamilyAddress(id){
        $.getJSON('api/api.php/records/cmfi_families?filter=id,eq,'+id, function(data) {
            var f=data.records[0];
            familyUpdateForm.familyName.value=f.familyName;
            familyUpdateForm.address.value=f.address;
            familyUpdateForm.surburb.value=f.surburb;
            familyUpdateForm.city.value=f.city;
            familyUpdateForm.id.value=f.id;
            discipleForm.familyID.value=f.id; //update family id on disciple form
        });
       }

       function showDiscipleData(id){
       $.getJSON("api/api.php/records/cmfi_members/?filter=id,eq,"+id,
                function(data){
                  var n=data.records[0];
                  if(data.records.length!=0)
                    {
                      discipleForm.firstName.value = n.firstName;
                      discipleForm.lastName.value = n.lastName;
                      discipleForm.dob.value = n.DOB;
                      discipleForm.city.value = n.city;
                      discipleForm.email.value=n.email;
                    $('select#gender' ).val( n.sex );
                    $('#gender').trigger('change');
                    $('select#familyRole' ).val( n.familyRole );
                    $('#familyRole').trigger('change');
                      discipleForm.phone.value = n.phone;
                      discipleForm.id.value=n.id;
                      uploadimage.memberId.value=n.id;
                    $('#profileAvatar').html(`<img  onclick="showHide('uploadForm1')" class="img-responsive avatar-view" src="images/members/${n.image}" alt="Avatar" 
                                            onerror="if (this.src != 'images/members/user.png') this.src = 'images/members/user.png';">`);
                    }
                 
               });
        }

      


          //save existing disciple
         function saveDisciple(){
            var id=discipleForm.id.value;console.log('member Id:'+id)
            var f= discipleForm.familyID.value;
            var famRole= $('#familyRole option:selected').val();
            var gender= $('#gender option:selected').val();
           $.ajax({
              url:'api/api.php/records/cmfi_members/'+id,
              type:'PUT',
              data:{
                  firstName:discipleForm.firstName.value,
                  lastName:discipleForm.lastName.value,
                  DOB:discipleForm.dob.value,
                  city:discipleForm.city.value,
                  email:discipleForm.email.value,
                  phone:discipleForm.phone.value,
                  familyID:f,
                  familyRole:famRole,
                  sex:gender
              },
              success: function(data){
                successNote(sresponse,'disciple saved successfully!');

                //refresh family tree
                showFamilyTree(f);
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
              }
            });

         }


 
          //delete a disciple
            function removeFamilyMember(id){
            (new PNotify({
                  title: 'Confirmation Needed',
                  text: 'Are you sure you want to delete this disciple?',
                  icon: 'glyphicon glyphicon-question-sign',
                  hide: false,
                  confirm: {
                    confirm: true
                  },
                  buttons: {
                    closer: false,
                    sticker: false
                  },
                  history: {
                    history: false
                  },
                  addclass: 'stack-modal',
                  stack: {'dir1': 'down', 'dir2': 'right', 'modal': true}
               })).get().on('pnotify.confirm', function(){
                $.ajax({
                  url:'api/api.php/records/cmfi_members/'+id,
                  type:'DELETE',
                  success: function(data){
                    successNote(sresponse,'disciple deleted successfully !');
                    $('#natIntMissionaries').DataTable().ajax.reload(); //refresh dates table
                  },
                  error: function(data){
                    console.log(data);
                    errorNote(fresponse,'Oops something went wrong! '+ data);
                  }
                });
              
              });
          }

      //add a new Diciple
        function addNewDisciple(){
            var role= $('#role option:selected').val();
            var family= $('#familyName option:selected').val();
            var famRole= $('#familyRole option:selected').val();
            var gender= $('#gender option:selected').val();
            $.ajax({
              url:'api/api.php/records/cmfi_members/',
              type:'POST',
              data:{
                  country:discipleForm.nationCode.value,
                  firstName:discipleForm.firstName.value,
                  lastName:discipleForm.lastName.value,
                  DOB:discipleForm.dob.value,
                  city:discipleForm.city.value,
                  role:discipleForm.role.value,
                  phone:discipleForm.phone.value,
                  email:discipleForm.email.value,
                  familyID:family,
                  familyRole:famRole,
                  sex:gender
              },
              success: function(data){
                successNote(sresponse,'disciple added successfully !');
                if(family=="New"){createFamily();}
                
                $('#natIntMissionaries').DataTable().ajax.reload(); //refresh nations table
               // $('#natDates').DataTable().ajax.reload(); //refresh dates table
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data);
              }
            });
          }

  $( function() {
      $( "#dob" ).datepicker({ changeMonth: true,
      changeYear: true});
      $( "#dob" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
      $( "#dob" ).datepicker( "option", "showAnim", "clip");

     $('#discipleDropDown').on('change', function() {
       showDiscipleData(this.value);
     
      });
  } );
 
</script>
