<div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
              <h2> Provinces<small>configuration panel</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
         <div class="x_content">
          
         <ul class="nav navbar-right panel_toolbox">

                <li >
                  <a id="provinceBtn" onclick="showHideForm('provinceAddForm');changeProvTitle();" role="button" aria-expanded="false"><i style="font-size: 36px" id="provinceAddForm_icon" class="glyphicon glyphicon-plus-sign green"></i></a>
                  
                </li>
                <!--li><a class="close-link"><i class="fa fa-close"></i></a>
                </li-->
              </ul>
          <div id="provinceAddForm" style="display: none;" >
           <div class="clearfix"></div>
        
              <div class="x_panel" style="background-color: #F7F9F9;">
                <div class="x_title" id="provTitle">
                  <h2>Add New Province <small>select leader</small></h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <div class="col-xs-2">
                      <!-- required for floating -->
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#home" data-toggle="tab"><i class="icon-list"></i> Details</a>
                        </li>
                        <li><a href="#stats" data-toggle="tab"><i class="icon-equalizer"></i> Statistics</a>
                        </li>
                        <li><a href="#chart" data-toggle="tab"><i class="icon-graph"></i> Chart</a>
                        </li>
                        
                      </ul>
                    </div>

                    <div class="col-xs-10">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active" id="home">
                          <form id="addProvinceForm" class="form-horizontal form-label-left input_mask" action="" method="post">
                            <input id="nationCode" name="nationCode" value="" type="hidden">
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">Name of Province<span class="required">*</span></label>
                              <div id="provName_div" class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" name="provName" id="provName" placeholder="province" required="required">
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Provincial Leader<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <select id="provleaderDropDown" name="provleaderDropDown" class="select2_multiple form-control leaders" multiple="multiple" style="width:100%;">
                                    <option value="select2"></option>
                                  </select>
                                   
                                </div>
                                <span><a href="#"  data-toggle="modal" data-target=".newMember"  class="btn btn-success btn-sm"><i class="icon-note"></i> Create Leader</a></span>
                              </div>
                            <!--div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">Control Total Disciples<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="number" class="form-control" name="ctrlTotal" id="ctrlTotal" placeholder="0" required="required">
                              </div>
                            </div-->
                           
                          </form>
                          <div class="modal-footer">
                            <div class="form-group" id="provSubmit">
                              <!--button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> Close</button-->
                              
                            </div>
                          </div>
                        </div>
                        <!-- Statistics tab pane -->
                        <div class="tab-pane" id="stats">
                          <div class="row">
                            <div class="col-xs-4">
                          <form id="addReportForm" class="form-horizontal form-label-left input_mask" action="" method="post">
                           <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12">Control Total Disciples<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="number" class="form-control" name="statsTotal" id="statsTotal" placeholder="0" required="required">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-64col-xs-12">Leaders<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="number" class="form-control" name="statsLeaders" id="statsLeaders" placeholder="0" required="required">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12">Localities<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="number" class="form-control" name="statsLoc" id="statsLoc" placeholder="0" required="required">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12">House Churches<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="number" class="form-control" name="statsHC" id="statsHC" placeholder="0" required="required">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12">As at Date<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="datepicker" class="form-control" name="statsDate" id="statsDate" placeholder="0" required="required">
                              </div>
                            </div>
                            <script>
                            $( function() {
                              $( "#statsDate" ).datepicker({ 
                                changeMonth: true,
                                changeYear: true,
                                dateFormat:"yy-mm-dd",
                                showAnim:"clip",
                                showButtonPanel: true,
                              });
                            } );
                            </script>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                              <div class="col-md-4 col-sm-4 col-xs-12" id="provReportBtn"></div>
                              <div class="col-md-4 col-sm-4 col-xs-12" id="provReportUpdateBtn"></div>
                            </div>

                          </form>
                          </div>
                          <div class="col-xs-8">
                             <table id="provDates" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                <!--th>id</th-->
                                <th>Date</th>
                                <th>Disciples</th>
                                <th>House Churches</th>
                                <th>Localities</th>
                                <th>Leaders</th>
                                <th>Actions</th>
                              </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        </div>
                        <!-- Chart tab pane -->
                        <div class="tab-pane" id="chart">
                          <div class="x_content">

                            <div id="echart_line" style="height:350px;"></div>

                          </div>
                        </div>
                    
                    </div>
                  <br />
                 

                  
                </div>

          </div>
        </div>
          
         </div> 
              <table id="provincesTable" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <!--th>id</th-->
                  <th>Province Name</th>
                  <th>Leader</th>
                  <th>Tags</th>
                  <!--th>Control Disciples*</th-->
                  <th>Actions</th>
                </tr>
                </thead>
              </table>
              <br><br>
              <div class="product_price">
                <h2 class="price ctrlDiscTotal"></h2>
                <span class="price-tax">Total Disciples</span>
                <br>
              </div>
        </div>
      </div>
    </div>

  <!-- daterangepicker -->
  <script type="text/javascript" src="js/moment/moment.min.js"></script>
  <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>

 <!-- echart -->
  <script src="js/echart/echarts-all.js"></script>
  <script src="js/echart/green.js"></script>

  <!-- Nation Profile scripts -->
 <script type="text/javascript" >
 	function getid(){
                  var str=window.location.href;
                  var idArr= str.split("/");
                  var l=idArr.length;
                  return idArr[l-2];
                }
      var nation=getid();

		$("#provleaderDropDown").select2({ //create provincial leaders drop down
          maximumSelectionLength: 1,
          placeholder: "Max 1",
          allowClear: true
        });

        refreshMemberCombo(nation); //initialise leaders combo
      initialiseProvincesCombo(nation); //initialise leaders combo

        //---------------------------------------------------------------//
        //---------                PROVINCES              ---------------//
        //---------------------------------------------------------------//      
        $('#provincesTable').DataTable({
          "ajax": {
        "url": "api/funcs.php?fn=fetchProvinces&n="+nation,
        "dataSrc": ""
        },
        "columns": [
          { "data": "name" },
          { "data": "leaderName" },
          { "data": "tags" },
          //{ "data": "disciples" },
          { "data": "actions" }
        ],
          dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }
        ]
        });


        $('#provinceBtn').click(function(){ changeIcon("provinceIcon");
          $('#provSubmit').load('<button  onclick="addProvince('+nation+')" type="submit" class="btn btn-success" name="submit" value="AddProvince"><i class="icon-check"></i>  Submit</button>');
        });

         function provinceEdit(id){
              var form="'addProvinceForm'";
              var container="'provinceAddForm'";
              $.getJSON("api/funcs.php?fn=fetchProvince&id="+id, function(res) {
                    document.getElementById("provName").value=res.name;
                    $( '#ctrlTotal' ).val( res.disciples );
                    $( 'select#provleaderDropDown' ).val( res.memberId );
                    $('#provleaderDropDown').trigger('change');
                    $('#provTitle').html('<h2>Edit '+res.name+' Province <small>details and stats</small></h2><div class="clearfix"></div>');
                    $('#provSubmit').html('<button  onclick="cancel('+form+','+container+')" type="submit" class="btn btn-default" name="submit" value="AddProvince"><i class="icon-remove"></i> Cancel</button><button  onclick="editProvince('+id+')" type="submit" class="btn btn-success" name="submit" value="AddProvince"><i class="icon-check"></i>  Save</button>');
                    $('#provReportBtn').html('<a onclick="addReport('+id+')"   class="btn btn-primary btn-sm"><i class="icon-note"></i> Add Report</a>');
                    //alert(response.name);
                });

                //initialise stats form
                $("#addReportForm")[0].reset();

                //---------------------------------------------------------------//
                //---------        PROVINCIAL REPORTS CHURCHES    ---------------//
                //---------------------------------------------------------------//
                $("#provDates").dataTable().fnDestroy(); //destroy the previous table
                $('#provDates').DataTable({
                  "ajax": {
                    "url": "api/funcs.php?fn=fetchReports&id="+id,
                    "dataSrc": ""
                    },
                  "bFilter": false,
                  "columns": [
                    { "data": "date" },
                    { "data": "members" },
                    { "data": "housechurches" },
                    { "data": "localities" },
                    { "data": "leaders" },
                    { "data": "action"}
                  ],
                  "aLengthMenu":[[5,10,25,50,-1],[5,10,25,50,"All"]],
                  "pageLength":5
                        
                });

                //---------------------------------------------------------------//
                //------- DRAW CHART 
                //---------------------------------------------------------------//
               var x = echarts.init(document.getElementById('echart_line'), theme);

       $.ajax({ url: "api/api.php/records/cmfi_nationalreports?filter=province,eq,"+id+"&order=date,asc",
              method: "GET",
              success: function(data) {
                var disciples = [];
                var housechurches = [];
                var localities = [];
                var leaders=[];
                var date=[];
                var jsonArr = data.records; //jQuery.parseJSON(data.records);

                for(var i in jsonArr) {
                  leaders.push(jsonArr[i].leaders);
                  localities.push(jsonArr[i].localities);
                  disciples.push(jsonArr[i].members);
                  housechurches.push(jsonArr[i].houseChurches);
                  date.push(jsonArr[i].date.substring(0,7));
                }
                console.log(disciples);
                console.log(date);
                    x.setOption({
                      title: {
                        text: 'Line Graph',
                        subtext: 'Subtitle'
                      },
                      tooltip: {
                        trigger: 'axis'
                      },
                      legend: {
                        data: ['disciples', 'localities', 'housechurches']
                      },
                      toolbox: {
                        show: true,
                        feature: {
                          magicType: {
                            show: true,
                            type: ['line', 'bar', 'stack', 'tiled']
                          },
                          restore: {
                            show: true
                          },
                          saveAsImage: {
                            show: true
                          }
                        }
                      },
                      calculable: true,
                      xAxis: [{
                        type: 'category',
                        boundaryGap: false,
                        data: date
                      }],
                      yAxis: [{
                        type: 'value'
                      }],
                      series: [{
                        name: 'housechurches',
                        type: 'line',
                        smooth: true,
                        itemStyle: {
                          normal: {
                            areaStyle: {
                              type: 'default'
                            }
                          }
                        },
                        data: housechurches
                      },{
                        name: 'localities',
                        type: 'line',
                        smooth: true,
                        itemStyle: {
                          normal: {
                            areaStyle: {
                              type: 'default'
                            }
                          }
                        },
                        data: localities
                      }, {
                        name: 'disciples',
                        type: 'line',
                        smooth: true,
                        itemStyle: {
                          normal: {
                            areaStyle: {
                              type: 'default'
                            }
                          }
                        },
                        data: disciples
                      }]
                    });
                  }

                });
            }


        function cancel(form,container){
          $("#"+form)[0].reset();
          var icon=container+'_icon';
          showHide(container);
          changeIcon(icon);
        }

        function changeProvTitle(){
          $('#provTitle').html('<h2>Add New Province <small>select leader</small></h2><div class="clearfix"></div>');
          $('#provSubmit').html('<button  onclick="addProvince()" type="submit" class="btn btn-primary" name="submit" value="AddProvince"><i class="icon-check"></i>  Submit</button>');
        }

        function statsEdit(id){
          console.log("Editing report id: "+id);
          $.getJSON("api/api.php/records/cmfi_nationalreports/"+id, function(res) {
            $('#statsTotal').val(res.members);
            $('#statsLeaders').val(res.leaders);
            $('#statsLoc').val(res.localities);
            $('#statsHC').val(res.houseChurches);
            $('#statsDate').val(res.date);
            $('#provReportUpdateBtn').html('<a onclick="saveReport('+id+')"   class="btn btn-success btn-sm"><i class="icon-check"></i> Save </a>');
                    
          });
        }

        //click event for the nation profile provinces stats table 
    $('#provDates tbody').on( 'click', 'tr', function () {
            var data = table.row( this ).data();
            console.log( data);
        } );

 </script>